_Prod - Actionable Message Handler_config.json
{"name":"a10ab7f2-2cdd-496a-a9aa-69e89dfda5fc","id":"/providers/Microsoft.Flow/environments/cd87827b-852d-e0f8-9364-a33bba253907/flows/a10ab7f2-2cdd-496a-a9aa-69e89dfda5fc","type":"Microsoft.Flow/environments/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"_Prod - Actionable Message Handler","userType":"Owner","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"f0a55a28-8583-45d4-8e3b-c127753a1a98"},"type":"Request","kind":"Http","inputs":{"method":"POST"}}},"actions":{"varSelectedApprovers":{"runAfter":{},"metadata":{"operationMetadataId":"9848a5ff-7cbc-4ec6-80f4-dbdd304357c9"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varSelectedApprovers","type":"array"}]}},"If_body_is_not_empty":{"actions":{"Get_file_content_using_path":{"runAfter":{},"metadata":{"operationMetadataId":"734a6a65-5639-4793-ae78-30f28d1c84cc"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetFileContentByPath","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://redwoodmaterials1.sharepoint.com/sites/WorkFlowAutomation","path":"/Shared Documents/photo-1533738363-b7f9aef128ce.png","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Response_to_valid_submission":{"runAfter":{"Get_file_content_using_path":["Succeeded"]},"metadata":{"operationMetadataId":"df1e972c-2b4e-4543-bffa-162f6ffba694"},"type":"Response","kind":"Http","inputs":{"statusCode":200,"headers":{"CARD-UPDATE-IN-BODY":"true"},"body":{"type":"AdaptiveCard","body":[{"type":"TextBlock","size":"Medium","weight":"Bolder","text":"New Submission Who dis?"},{"type":"TextBlock","text":"Your selections are being processed","wrap":true},{"type":"ColumnSet","id":"f29686f8-d425-5b02-8a07-8e0744c7e06b","columns":[{"type":"Column","id":"1c43cb06-11af-5cd3-8fa1-964fb90001a2","padding":"None","width":"auto","items":[{"type":"Image","id":"2240c821-f9fd-87bf-187a-f355482a9a28","url":"data:image/png;base64,@{base64(outputs('Get_file_content_using_path')?['body'])}","altText":""}]}],"padding":"None"}],"$schema":"http://adaptivecards.io/schemas/adaptive-card.json","version":"1.0"}}},"Parse_JSON":{"runAfter":{"Response_to_valid_submission":["Succeeded"]},"metadata":{"operationMetadataId":"37dbf888-7a1b-4f50-8306-b4c9e18b6c88"},"type":"ParseJson","inputs":{"content":"@triggerBody()","schema":{"type":"array","items":{"type":"object","properties":{"additionalApprovers":{"type":"string"},"fileName":{"type":"string"},"fileLink":{"type":"string"},"fileSharePointFileId":{"type":"string"},"submitter":{"type":"string"},"userid":{"type":"string"},"selected":{"type":"string"},"email":{"type":"string"}},"required":[]}}}},"HTTP":{"runAfter":{"Parse_JSON":["Succeeded"]},"metadata":{"operationMetadataId":"9253bc78-14c5-4482-af6d-58cd446bcaf0"},"type":"Http","inputs":{"method":"POST","uri":"https://prod-131.westus.logic.azure.com:443/workflows/e11ed869f41849b8be62c10b5d03216d/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=qficVNGwj5RVWL8b8y56VL_Gl81NBp9wravInlXcWWw","headers":{"content-type":"application/json","authorization":""},"body":"@body('Parse_JSON')"}}},"runAfter":{"varApprovalLink":["Succeeded"]},"else":{"actions":{"Response_to_Cancel":{"runAfter":{},"metadata":{"operationMetadataId":"db21f5e9-45fb-46b4-93fa-9d0c3cf6c4bd"},"type":"Response","kind":"Http","inputs":{"statusCode":200,"headers":{"CARD-UPDATE-IN-BODY":"true"},"body":{"$schema":"http://adaptivecards.io/schemas/adaptive-card.json","type":"AdaptiveCard","version":"1.0","body":[{"type":"ColumnSet","id":"1ede2aba-61b9-faa0-9895-9ed0c26b2e6f","columns":[{"type":"Column","id":"e5756242-0963-37a2-7cb4-4397886d60bb","padding":"None","width":"stretch","items":[{"type":"ColumnSet","columns":[{"type":"Column","id":"4be39c0b-62ea-8700-7ac1-5e8ae7258a8a","padding":"None","width":"auto","items":[{"type":"Image","id":"795047e2-e63e-6e14-07ba-5a3e13323dff","url":"https://rwfilehosting.blob.core.windows.net/redwoodbranding/97651-infinity-logo.png","size":"Small"}]},{"type":"Column","id":"03c35ad9-720e-c8d2-e742-8935d787802a","padding":"None","width":"auto","items":[{"type":"TextBlock","id":"a7a121dc-7ef1-56fd-37fb-7b5a7f4c7bab","text":"Redwood Materials","wrap":true}]}],"padding":"None"}],"verticalContentAlignment":"Center"}],"padding":{"top":"Small","bottom":"Small","left":"Default","right":"Small"},"style":"emphasis"},{"type":"Container","id":"fbcee869-2754-287d-bb37-145a4ccd750b","padding":"Default","spacing":"None","items":[{"type":"TextBlock","id":"44906797-222f-9fe2-0b7a-e3ee21c6e380","text":"The new document request submission has been cancelled.","wrap":true,"weight":"Bolder","size":"Large"},{"type":"TextBlock","id":"f7abdf1a-3cce-2159-28ef-f2f362ec937e","text":"No further action is required","wrap":true}]}],"padding":"None"}}}}},"expression":{"not":{"equals":["@empty(triggerBody())",true]}},"metadata":{"operationMetadataId":"9b871b1d-5f28-4716-8680-93ad80761379"},"type":"If"},"varApprovalTitle":{"runAfter":{"varSelectedApprovers":["Succeeded"]},"metadata":{"operationMetadataId":"72d1a4ce-6c2e-46c5-9442-3b502c6f2392"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varApprovalTitle","type":"string"}]}},"varApprovalLink":{"runAfter":{"varApprovalTitle":["Succeeded"]},"metadata":{"operationMetadataId":"ef5761a2-7d3c-4657-8536-2ee56675d890"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varApprovalLink","type":"string"}]}}},"outputs":{}},"state":"Stopped","sharingType":"CommonDataService","connectionReferences":[{"displayName":"SharePoint","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","source":"Embedded","apiDefinition":{"name":"shared_sharepointonline","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"SharePoint","iconUri":"https://connectoricons-prod.azureedge.net/u/jayawan/releases/v1.0.1697/1.0.1697.3786/sharepointonline/icon.png","purpose":"NotSpecified","connectionParameters":{"token":{"type":"oauthSetting","oAuthSettings":{"identityProvider":"sharepointonlinecertificateV2","clientId":"7ab7862c-4c57-491e-8a45-d52a7e023983","scopes":[],"redirectMode":"GlobalPerConnector","redirectUrl":"https://global.consent.azure-apim.net/redirect/sharepointonline","properties":{"IsFirstParty":"True","IsOnbehalfofLoginSupported":true},"customParameters":{"resourceUriAAD":{"value":"https://graph.microsoft.com/"},"loginUri":{"value":"https://login.windows.net"},"loginUriAAD":{"value":"https://login.windows.net"},"resourceUri":{"value":"https://graph.microsoft.com"}}},"uiDefinition":{"displayName":"Log in with SharePoint Credentials","description":"Log in with SharePoint Credentials","tooltip":"Provide SharePoint Credentials","constraints":{"required":"true","capability":["cloud"]}}},"token:TenantId":{"type":"string","metadata":{"sourceType":"AzureActiveDirectoryTenant"},"uiDefinition":{"displayName":"Tenant","description":"The tenant ID of for the Microsoft Entra ID application","constraints":{"required":"false","hidden":"true"}}},"gateway":{"type":"gatewaySetting","gatewaySettings":{"dataSourceType":"SharePoint","connectionDetails":[]},"uiDefinition":{"tabIndex":1,"constraints":{"hidden":"false","capability":["gateway"]}}},"authType":{"type":"string","allowedValues":[{"value":"windows"}],"uiDefinition":{"displayName":"Authentication Type","description":"Authentication type to connect to your database","tooltip":"Authentication type to connect to your database","constraints":{"tabIndex":2,"required":"false","allowedValues":[{"text":"Windows","value":"windows"}],"capability":["gateway"]}}},"username":{"type":"securestring","uiDefinition":{"displayName":"Username","description":"Username credential","tooltip":"Username credential","constraints":{"tabIndex":3,"clearText":true,"required":"true","capability":["gateway"]}}},"password":{"type":"securestring","uiDefinition":{"displayName":"Password","description":"Password credential","tooltip":"Password credential","constraints":{"tabIndex":4,"required":"true","capability":["gateway"]}}}},"scopes":{"will":["Read list and library names, as well as the names of the columns","Create, read, update, copy and delete files and metadata","Create, read, update, and delete list items"],"wont":[]},"runtimeUrls":["https://unitedstates-002.azure-apim.net/apim/sharepointonline"],"primaryRuntimeUrl":"https://unitedstates-002.azure-apim.net/apim/sharepointonline","metadata":{"source":"marketplace","brandColor":"#036C70","useNewApimVersion":"true","version":{"previous":"u/jayawan/releases/v1.0.1694\\1.0.1694.3753","current":"u/jayawan/releases/v1.0.1697\\1.0.1697.3786"}},"capabilities":["tabular","gateway","cloud"],"tier":"Standard","isCustomApi":false,"description":"SharePoint helps organizations share and collaborate with colleagues, partners, and customers. You can connect to SharePoint Online or to an on-premises SharePoint 2016 or 2019 farm using the On-Premises Data Gateway to manage documents and list items.","createdTime":"2018-08-02T22:20:45.5681417Z","changedTime":"2024-08-23T15:08:14.8176286Z","publisher":"Microsoft"}}}],"createdTime":"2022-11-30T20:04:48Z","lastModifiedTime":"2022-11-30T20:04:48Z","flowSuspensionReason":"None","environment":{"name":"cd87827b-852d-e0f8-9364-a33bba253907","type":"Microsoft.Flow/environments","id":"/providers/Microsoft.Flow/environments/cd87827b-852d-e0f8-9364-a33bba253907"},"definitionSummary":{"triggers":[{"type":"Request","kind":"Http","metadata":{"operationMetadataId":"f0a55a28-8583-45d4-8e3b-c127753a1a98"}}],"actions":[{"type":"InitializeVariable","metadata":{"operationMetadataId":"9848a5ff-7cbc-4ec6-80f4-dbdd304357c9"}},{"type":"If","metadata":{"operationMetadataId":"9b871b1d-5f28-4716-8680-93ad80761379"}},{"type":"InitializeVariable","metadata":{"operationMetadataId":"72d1a4ce-6c2e-46c5-9442-3b502c6f2392"}},{"type":"InitializeVariable","metadata":{"operationMetadataId":"ef5761a2-7d3c-4657-8536-2ee56675d890"}},{"type":"OpenApiConnection","swaggerOperationId":"GetFileContentByPath","metadata":{"operationMetadataId":"734a6a65-5639-4793-ae78-30f28d1c84cc"},"api":{"name":"shared_sharepointonline","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"SharePoint","iconUri":"https://connectoricons-prod.azureedge.net/u/jayawan/releases/v1.0.1697/1.0.1697.3786/sharepointonline/icon.png","metadata":{"source":"marketplace","brandColor":"#036C70","useNewApimVersion":"true","version":{"previous":"u/jayawan/releases/v1.0.1694\\1.0.1694.3753","current":"u/jayawan/releases/v1.0.1697\\1.0.1697.3786"}},"tier":"Standard","isCustomApi":false,"description":"SharePoint helps organizations share and collaborate with colleagues, partners, and customers. You can connect to SharePoint Online or to an on-premises SharePoint 2016 or 2019 farm using the On-Premises Data Gateway to manage documents and list items."}}},{"type":"Response","kind":"Http","metadata":{"operationMetadataId":"df1e972c-2b4e-4543-bffa-162f6ffba694"}},{"type":"ParseJson","metadata":{"operationMetadataId":"37dbf888-7a1b-4f50-8306-b4c9e18b6c88"}},{"type":"Http","metadata":{"operationMetadataId":"9253bc78-14c5-4482-af6d-58cd446bcaf0"}},{"type":"Response","kind":"Http","metadata":{"operationMetadataId":"db21f5e9-45fb-46b4-93fa-9d0c3cf6c4bd"}}]},"flowFailureAlertSubscribed":false,"workflowEntityId":"54e010c4-5643-ed11-bba2-00224820b96d","workflowUniqueId":"a10ab7f2-2cdd-496a-a9aa-69e89dfda5fc","referencedResources":[{"service":"sharepoint","resource":{"site":"https://redwoodmaterials1.sharepoint.com/sites/WorkFlowAutomation"},"referencers":[{"referenceSourceType":"Actions","operationId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/apiOperations/GetFileContentByPath"},{"referenceSourceType":"Triggers","operationId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/apiOperations/GetFileContentByPath"}]}],"isManaged":true,"componentState":"Published","isCustomizable":{"value":true,"canBeChanged":true,"managedPropertyLogicalName":"iscustomizableanddeletable"},"machineDescriptionData":{},"flowOpenAiData":{"isConsequential":false,"isConsequentialFlagOverwritten":false}}}