_Prod - Document Management Approval Handler_config.json
{"name":"895770af-d04a-48ea-9617-de96477cdf29","id":"/providers/Microsoft.Flow/environments/cd87827b-852d-e0f8-9364-a33bba253907/flows/895770af-d04a-48ea-9617-de96477cdf29","type":"Microsoft.Flow/environments/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"_Prod - Document Management Approval Handler","userType":"Owner","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"8f2a37df-c369-4ce0-bbbc-e8097ed711d3"},"type":"Request","kind":"Http","inputs":{"method":"POST"}}},"actions":{"Parse_JSON":{"runAfter":{},"metadata":{"operationMetadataId":"b68f5bc4-8920-4b5d-bc77-3ef9b67680f7"},"type":"ParseJson","inputs":{"content":"@triggerBody()","schema":{"type":"array","items":{"type":"object","properties":{"additionalApprovers":{"type":"string"},"fileName":{"type":"string"},"fileLink":{"type":"string"},"fileSharePointFileListId":{"type":"string"},"submitter":{"type":"string"},"userid":{"type":"string"},"selected":{"type":"string"},"email":{"type":"string"},"fileModifications":{"type":"string"},"ActionableEmailSubmitter":{"type":"string"}},"required":[]}}}},"Apply_to_each_approver":{"foreach":"@body('Parse_JSON')","actions":{"If_key_is_additionalApprovers_and_not_null":{"actions":{"Split_All_Additional_Approvers":{"runAfter":{},"metadata":{"operationMetadataId":"3ef5eafc-2a26-4c14-9ed7-f800be0bf54f"},"type":"Compose","inputs":"@split(body('Parse_JSON')[1]['additionalApprovers'],';')"},"Apply_to_Each_Additional_Approver":{"foreach":"@outputs('Split_All_Additional_Approvers')","actions":{"If_user_is_found":{"actions":{"Append_to_selected_Approvers":{"runAfter":{},"metadata":{"operationMetadataId":"00125e5b-f890-4dda-98b8-101df605a4b7"},"type":"AppendToArrayVariable","inputs":{"name":"varSelectedApprovers","value":"@outputs('Get_user_profile_(V2)')?['body/mail']"}}},"runAfter":{"Get_user_profile_(V2)":["Succeeded","Failed"]},"expression":{"not":{"equals":["@outputs('Get_user_profile_(V2)')?['body/id']","@null"]}},"metadata":{"operationMetadataId":"de597023-bf66-444d-b6bb-dfb0e838e4aa"},"type":"If"},"Set_variable":{"runAfter":{},"metadata":{"operationMetadataId":"6e7aa929-428f-49e7-aeec-7385f4612abf"},"type":"SetVariable","inputs":{"name":"varCurrentApprover","value":"@{trim(items('Apply_to_Each_Additional_Approver'))}"},"description":"trim(items('Apply_to_Each_Additional_Approver'))"},"Get_user_profile_(V2)":{"runAfter":{"Set_variable":["Succeeded"]},"metadata":{"operationMetadataId":"689fe896-a106-4173-b839-f9deba632e44"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"UserProfile_V2"},"parameters":{"id":"@variables('varCurrentApprover')"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Split_All_Additional_Approvers":["Succeeded"]},"metadata":{"operationMetadataId":"7e4adb19-b7c0-4766-837a-d6f3d376c8cf"},"type":"Foreach"}},"runAfter":{},"else":{"actions":{"If_user_has_been_selected_in_actionable_email":{"actions":{"Append_selected_users_to_SelectedApprovers":{"runAfter":{},"metadata":{"operationMetadataId":"de5182ab-31a4-4e5b-ba57-1806ee326f20"},"type":"AppendToArrayVariable","inputs":{"name":"varSelectedApprovers","value":"@items('Apply_to_each_approver')?['email']"}}},"runAfter":{},"expression":{"equals":["@items('Apply_to_each_approver')?['selected']","true"]},"metadata":{"operationMetadataId":"03f959f9-0e69-40f5-8c1d-62180f9f5e19"},"type":"If"}}},"expression":{"and":[{"contains":["@items('Apply_to_each_approver')","additionalApprovers"]},{"not":{"equals":["@empty(body('Parse_JSON')[1]['additionalApprovers'])","@true"]}}]},"metadata":{"operationMetadataId":"fbdc6ad1-4b2a-4095-9b34-b4e0b33bc663"},"type":"If"}},"runAfter":{"varCurrentApprover":["Succeeded"]},"metadata":{"operationMetadataId":"9b4800d4-d3aa-461e-8409-9a44037d2382"},"type":"Foreach"},"varSelectedApprovers":{"runAfter":{"varActionableInitiator":["Succeeded"]},"metadata":{"operationMetadataId":"3057c72b-2eec-412c-bd02-887b5e79e1b3"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varSelectedApprovers","type":"array"}]}},"varFileName":{"runAfter":{"varFileMods":["Succeeded"]},"metadata":{"operationMetadataId":"fcddbb76-f846-4a00-9b72-4c9a4dd28707"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varFileName","type":"string","value":"@{body('Parse_Json')[2]['fileName']}"}]}},"varFileId":{"runAfter":{"varFileName":["Succeeded"]},"metadata":{"operationMetadataId":"5c111919-2e41-4514-9cbb-f2874ea9a677"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varFileId","type":"string","value":"@{body('Parse_Json')[2]['fileSharePointFileListId']}"}]}},"Start_and_wait_for_an_approval":{"runAfter":{"Create_sharing_link_for_a_file_or_folder":["Succeeded"]},"metadata":{"operationMetadataId":"c17ecb1e-c065-42f6-8389-b3aaa2f3290f"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"parameters":{"approvalType":"BasicAwaitAll","WebhookApprovalCreationInput/title":"Approval Request: @{variables('varFileName')}","WebhookApprovalCreationInput/assignedTo":"@{outputs('Compose')};@{body('Parse_JSON')[1]['ActionableEmailSubmitter']};documents@redwoodmaterials.com;","WebhookApprovalCreationInput/details":"Please review and provide your approval or rejection.\nPlease include a comment if you reject this approval.\n\n**What was updated in this revision?**\n@{variables('varFileMods')}\n","WebhookApprovalCreationInput/itemLink":"@outputs('Create_sharing_link_for_a_file_or_folder')?['body/link/webUrl']","WebhookApprovalCreationInput/itemLinkDescription":"@variables('varFileName')","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}},"Create_sharing_link_for_a_file_or_folder":{"runAfter":{"if_file_is_not_checked_out":["Succeeded"]},"metadata":{"operationMetadataId":"0a322252-4a38-48dc-97fa-edee370cdf98"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateSharingLink"},"parameters":{"dataset":"https://redwoodmaterials1.sharepoint.com/sites/Documents","table":"dc949db8-5518-4eb6-9ac7-3d3f62ad17ae","id":"@variables('varFileId')","permission/type":"view","permission/scope":"organization"},"authentication":"@parameters('$authentication')"}},"Compose":{"runAfter":{"Apply_to_each_approver":["Succeeded"]},"metadata":{"operationMetadataId":"29706b81-d22d-40dc-b0e7-1c677a7d6562"},"type":"Compose","inputs":"@join(variables('varSelectedApprovers'),';')"},"If_outcome_does_not_contain_reject":{"actions":{"Get_file_properties":{"runAfter":{"Update_file_properties":["Succeeded"]},"metadata":{"operationMetadataId":"9edbfa87-02d5-4b3d-969c-1e3f75188e4d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileItem"},"parameters":{"dataset":"https://redwoodmaterials1.sharepoint.com/sites/Documents","table":"dc949db8-5518-4eb6-9ac7-3d3f62ad17ae","id":"@outputs('Update_file_properties')?['body/ID']"},"authentication":"@parameters('$authentication')"}},"Get_file_content":{"runAfter":{"Select_Doc_Category":["Succeeded"]},"metadata":{"operationMetadataId":"097b51e6-0c99-4135-b5fd-2c3eafb1eedc"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://redwoodmaterials1.sharepoint.com/sites/Documents","id":"@outputs('Get_file_properties')?['body/{Identifier}']","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Create_staging_file_in_OneDrive":{"runAfter":{"Get_file_content":["Succeeded"]},"metadata":{"operationMetadataId":"397c5127-ec51-401b-81e4-9efef494f211"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateFile"},"parameters":{"folderPath":"/Document Management Process PDF Staging","name":"@outputs('Get_file_properties')?['body/{FilenameWithExtension}']","body":"@body('Get_file_content')"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Convert_file_to_PDF":{"runAfter":{"Create_staging_file_in_OneDrive":["Succeeded"]},"metadata":{"operationMetadataId":"456c7fb4-ad96-4f0a-8025-0a499ba22b46"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"ConvertFile"},"parameters":{"id":"@outputs('Create_staging_file_in_OneDrive')?['body/Id']","type":"PDF"},"authentication":"@parameters('$authentication')"}},"Update_file_properties":{"runAfter":{"Check_in_file":["Succeeded"]},"metadata":{"operationMetadataId":"ef512647-12eb-43cd-b0d4-25a5c693fde6"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchFileItem"},"parameters":{"dataset":"https://redwoodmaterials1.sharepoint.com/sites/Documents","table":"dc949db8-5518-4eb6-9ac7-3d3f62ad17ae","id":"@variables('varFileId')","item/OData__Status/Value":"Approved"},"authentication":"@parameters('$authentication')"}},"Check_in_file":{"runAfter":{},"metadata":{"operationMetadataId":"4f048ffe-b4aa-45f9-801f-b5027db37d8a"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CheckInFile"},"parameters":{"dataset":"https://redwoodmaterials1.sharepoint.com/sites/Documents","table":"dc949db8-5518-4eb6-9ac7-3d3f62ad17ae","id":"@variables('varFileId')","parameter/comment":"Document has been approved","parameter/checkinType":1},"authentication":"@parameters('$authentication')"}},"Select_Affected_Teams":{"runAfter":{"Set_content_status_to_Approve":["Succeeded"]},"metadata":{"operationMetadataId":"7e1ed394-4cd1-419f-9102-4f42aff1048c"},"type":"Select","inputs":{"from":"@outputs('Get_file_properties')?['body/Affected_x0020_Teams']","select":{"value":"@item()?['value']"}},"description":"item()?['value']"},"Select_Business_Unit":{"runAfter":{"Select_Affected_Teams":["Succeeded"]},"metadata":{"operationMetadataId":"74d1ded5-b7b5-4257-abbd-2672751790f6"},"type":"Select","inputs":{"from":"@outputs('Get_file_properties')?['body/Business_x0020_Unit']","select":{"value":"@item()?['value']"}},"description":"item()?['value']"},"Set_content_status_to_Approve":{"runAfter":{"Set_content_status_to_Pending":["Succeeded"]},"metadata":{"operationMetadataId":"e41a22d4-9f95-471f-a567-d9ed320e8c7f"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"SetApprovalStatus"},"parameters":{"dataset":"https://redwoodmaterials1.sharepoint.com/sites/Documents","table":"dc949db8-5518-4eb6-9ac7-3d3f62ad17ae","id":"@variables('varFileId')","approvalAction":"Approve","comments":"","entityTag":"@outputs('Set_content_status_to_Pending')?['body/ETag']"},"authentication":"@parameters('$authentication')"}},"Set_content_status_to_Pending":{"runAfter":{"Get_file_properties":["Succeeded"]},"metadata":{"operationMetadataId":"21be1212-228e-4a06-817a-03908a37c16c"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"SetApprovalStatus"},"parameters":{"dataset":"https://redwoodmaterials1.sharepoint.com/sites/Documents","table":"dc949db8-5518-4eb6-9ac7-3d3f62ad17ae","id":"@variables('varFileId')","approvalAction":"Submit","comments":"","entityTag":""},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Create_file_in_Released_Library":{"runAfter":{},"metadata":{"operationMetadataId":"a166a321-f601-4e00-b5f6-de93bb6471ce"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"https://redwoodmaterials1.sharepoint.com/sites/Documents","folderPath":"/Released Documents","name":"@outputs('Convert_file_to_PDF')?['headers/x-ms-file-name']","body":"@body('Convert_file_to_PDF')"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Check_out_file_2":{"runAfter":{"Update_New_Released_Document":["Succeeded"]},"metadata":{"operationMetadataId":"9c67d8f1-a910-4d53-87e7-3d8bd201283a"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CheckOutFile"},"parameters":{"dataset":"https://redwoodmaterials1.sharepoint.com/sites/Documents","table":"e96e8481-b2e8-4bcf-802e-1f5a3ee7b1d7","id":"@outputs('Create_file_in_Released_Library')?['body/ItemId']"},"authentication":"@parameters('$authentication')"}},"Check_in_file_2":{"runAfter":{"Check_out_file_2":["Succeeded"]},"metadata":{"operationMetadataId":"f3ea8ac3-2a7c-4e41-a0ae-e039a7b91e35"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CheckInFile"},"parameters":{"dataset":"https://redwoodmaterials1.sharepoint.com/sites/Documents","table":"e96e8481-b2e8-4bcf-802e-1f5a3ee7b1d7","id":"@outputs('Update_New_Released_Document')?['body/ID']","parameter/comment":"@outputs('Start_and_wait_for_an_approval')?['body/responseSummary']","parameter/checkinType":1},"authentication":"@parameters('$authentication')"}},"Update_New_Released_Document":{"runAfter":{"Create_file_in_Released_Library":["Succeeded"]},"metadata":{"operationMetadataId":"aa2cfb34-3697-42a9-8ef6-e74f3796c8e1"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchFileItem"},"parameters":{"dataset":"https://redwoodmaterials1.sharepoint.com/sites/Documents","table":"e96e8481-b2e8-4bcf-802e-1f5a3ee7b1d7","id":"@outputs('Create_file_in_Released_Library')?['body/ItemId']","item/Title":"@outputs('Get_file_properties')?['body/Title']","item/RWDoc_x0020_Number":"@outputs('Get_file_properties')?['body/RWDoc_x0020_Number']","item/Document_x0020_Owner/Claims":"@outputs('Get_file_properties')?['body/Document_x0020_Owner/DisplayName']","item/Business_x0020_Unit":"@body('Select_Business_Unit')","item/Affected_x0020_Teams":"@body('Select_Affected_Teams')","item/Doc_x0020_Category":"@body('Select_Doc_Category')","item/Publish_x0020_Date":"@outputs('Start_and_wait_for_an_approval')?['body/completionDate']","item/OData__Status/Value":"Approved","item/OData__Comments":"@outputs('Start_and_wait_for_an_approval')?['body/responseSummary']","item/{ContentType}/Id":"@outputs('Get_file_properties')?['body/{ContentType}/Id']"},"authentication":"@parameters('$authentication')"}},"Send_Final_Email":{"runAfter":{"Get_file_properties_2":["Succeeded"]},"metadata":{"operationMetadataId":"69a610d8-b3be-4bc9-872e-b20233d5ca01"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@outputs('Get_file_properties')?['body/Document_x0020_Owner/Email']","emailMessage/Subject":"Document Release Notification: @{outputs('Update_New_Released_Document')?['body/Title']}","emailMessage/Body":"<html lang=\"en\" xmlns=\"http://www.redwoodmaterials.com\" xmlns:v=\"urn:schemas-microsoft-com:vml\" xmlns:o=\"urn:schemas-microsoft-com:office:office\"><head>\n  <title> Rejection Email </title>\n  <!--[if !mso]><!-- -->\n  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n  <!--<![endif]-->\n  <meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <style type=\"text/css\">\n    #outlook a {\n      padding: 0;\n    }\n\n    body {\n      margin: 0;\n      padding: 0;\n      -webkit-text-size-adjust: 100%;\n      -ms-text-size-adjust: 100%;\n    }\n\n    table,\n    td {\n      border-collapse: collapse;\n      mso-table-lspace: 0pt;\n      mso-table-rspace: 0pt;\n    }\n\n    img {\n      border: 0;\n      height: auto;\n      line-height: 100%;\n      outline: none;\n      text-decoration: none;\n      -ms-interpolation-mode: bicubic;\n    }\n\n    p {\n      display: block;\n      margin: 13px 0;\n    }\n  </style>\n  <!--[if mso]>\n        <xml>\n        <o:OfficeDocumentSettings>\n          <o:AllowPNG/>\n          <o:PixelsPerInch>96</o:PixelsPerInch>\n        </o:OfficeDocumentSettings>\n        </xml>\n        <![endif]-->\n  <!--[if lte mso 11]>\n        <style type=\"text/css\">\n          .mj-outlook-group-fix { width:100% !important; }\n        </style>\n        <![endif]-->\n  <style type=\"text/css\">\n    @media only screen and (min-width:480px) {\n      .mj-column-per-100 {\n        width: 100% !important;\n        max-width: 100%;\n      }\n    }\n  </style>\n  <style type=\"text/css\">\n    @media only screen and (max-width:480px) {\n      table.mj-full-width-mobile {\n        width: 100% !important;\n      }\n\n      td.mj-full-width-mobile {\n        width: auto !important;\n      }\n    }\n  </style>\n  <style type=\"text/css\">\n    a,\n    span,\n    td,\n    th {\n      -webkit-font-smoothing: antialiased !important;\n      -moz-osx-font-smoothing: grayscale !important;\n    }\n  </style>\n</head>\n\n<body style=\"background-color:#ffffff;\">\n  <div style=\"display:none;font-size:1px;color:#ffffff;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;\"> Preview - Approval Email </div>\n  <div style=\"background-color:#ffffff;\">\n    <!--[if mso | IE]>\n      <table\n         align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" style=\"width:600px;\" width=\"600\"\n      >\n        <tr>\n          <td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\">\n      <![endif]-->\n    <div style=\"margin:0px auto;max-width:600px;\">\n      <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:100%;\">\n        <tbody>\n          <tr>\n            <td style=\"direction:ltr;font-size:0px;padding:20px 0;padding-bottom:0px;text-align:center;\">\n              <!--[if mso | IE]>\n                  <table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\">\n\n        <tr>\n\n            <td\n               class=\"\" style=\"vertical-align:top;width:600px;\"\n            >\n          <![endif]-->\n              <div class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">\n                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\">\n                  <tbody><tr>\n                    <td align=\"left\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">\n                      <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"border-collapse:collapse;border-spacing:0px;\">\n                        <tbody>\n                          <tr>\n                            <td style=\"width:150px;\">\n                              <img alt=\"image description\" height=\"auto\" src=\"https://images.squarespace-cdn.com/content/v1/5efe09039ce4f80e7af3f779/1598658367432-1X8MMYALYDIDQL6JNI7H/Redwood+Materials+2+%28transparent+background%29+RGB.png?format=1500w\" style=\"border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:14px;\" width=\"150\">\n                            </td>\n                          </tr>\n                        </tbody>\n                      </table>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td align=\"left\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">\n                      <div style=\"font-family:Helvetica, Arial, sans-serif;font-size:18px;font-weight:400;line-height:24px;text-align:left;color:#434245;\">\n                        <h1 style=\"margin: 0; font-size: 24px; line-height: normal; font-weight: bold;\">  <br> Hi Team! </h1>\n                      </div>\n                    </td>\n                  </tr>\n                </tbody></table>\n              </div>\n              <!--[if mso | IE]>\n            </td>\n\n        </tr>\n\n                  </table>\n                <![endif]-->\n            </td>\n          </tr>\n        </tbody>\n      </table>\n    </div>\n    <!--[if mso | IE]>\n          </td>\n        </tr>\n      </table>\n\n      <table\n         align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" style=\"width:600px;\" width=\"600\"\n      >\n        <tr>\n          <td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\">\n      <![endif]-->\n    <div style=\"margin:0px auto;max-width:600px;\">\n      <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:100%;\">\n        <tbody>\n          <tr>\n            <td style=\"direction:ltr;font-size:0px;padding:20px 0;text-align:center;\">\n              <!--[if mso | IE]>\n                  <table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\">\n\n        <tr>\n\n            <td\n               class=\"\" style=\"vertical-align:top;width:600px;\"\n            >\n          <![endif]-->\n              <div class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">\n                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\">\n                  <tbody><tr>\n                    <td align=\"left\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">\n                      <div style=\"font-family:Helvetica, Arial, sans-serif;font-size:18px;font-weight:400;line-height:24px;text-align:left;color:#434245;\"> @{outputs('Update_New_Released_Document')?['body/Title']} has been approved! </div>\n                    </td>\n                  </tr>\n\t\t\t<tr>\n                    <td align=\"left\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">\n                      <div style=\"font-family:Helvetica, Arial, sans-serif;font-size:18px;font-weight:bold;line-height:24px;text-align:left;color:#434245;\">Document Owner: <text style=\"font-weight: normal;\">@{outputs('Update_file_properties')?['body/Document_x0020_Owner/DisplayName']}</text> <br> Summary of Changes: <text style=\"font-weight: normal;\">@{variables('varFileMods')}</text> <br> Version: <text style=\"font-weight: normal;\">@{outputs('Get_file_properties_2')?['body/{VersionNumber}']}</text> </div>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td align=\"left\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">\n                      <div style=\"font-family:Helvetica, Arial, sans-serif;font-size:18px;font-weight:400;line-height:24px;text-align:left;color:#434245;\">Please see the approval summary below: <br>  </div>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td align=\"left\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">\n                      <div style=\"font-family:Helvetica, Arial, sans-serif;font-size:18px;font-weight:400;line-height:24px;text-align:left;color:#434245;\"> Please click the link below to view the approved document.</div>\n                    </td>\n                  </tr>\n                 <tr>\n                    <td align=\"left\" vertical-align=\"middle\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">\n                      <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"border-collapse:separate;line-height:100%;\">\n                        <tbody><tr>\n                          <td align=\"center\" bgcolor=\"#2e58ff\" role=\"presentation\" style=\"border:none;border-radius:30px;cursor:auto;mso-padding-alt:10px 25px;background:#66A45D;\" valign=\"middle\">\n                            <a href=\"@{outputs('Update_New_Released_Document')?['body/{Link}']}\" style=\"display: inline-block; background: #66A45D; color: #ffffff; font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-weight: bold; line-height: 30px; margin: 0; text-decoration: none; text-transform: uppercase; padding: 10px 25px; mso-padding-alt: 0px; border-radius: 30px;\" target=\"_blank\"> @{outputs('Update_New_Released_Document')?['body/Title']} </a>\n                          </td>\n                        </tr>\n                      </tbody></table>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td align=\"left\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">\n                      <div style=\"font-family:Helvetica, Arial, sans-serif;font-size:18px;font-weight:400;line-height:24px;text-align:left;color:#434245;\">If you need any help, don’t hesitate to reach out to us at <a href=\"#\" style=\"color: #2e58ff; text-decoration: none;\">documents@redwoodmaterials.com</a>!</div>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td align=\"left\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">\n                      <div style=\"font-family:Helvetica, Arial, sans-serif;font-size:18px;font-weight:bold;line-height:24px;text-align:left;color:#434245;\"> Thank you, <br> Document Management Team</div>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td align=\"left\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">\n                      <!--[if mso | IE]>\n\n\n</body></html>","emailMessage/From":"documents@redwoodmaterials.com","emailMessage/Cc":"@outputs('Compose')","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}},"Get_file_properties_2":{"runAfter":{"Check_in_file_2":["Succeeded"]},"metadata":{"operationMetadataId":"fc3d3b95-2e42-424c-a727-18c218cda501"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileItem"},"parameters":{"dataset":"https://redwoodmaterials1.sharepoint.com/sites/Documents","table":"e96e8481-b2e8-4bcf-802e-1f5a3ee7b1d7","id":"@outputs('Update_New_Released_Document')?['body/ID']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Check_if_File_is_in_Released":["Succeeded","Failed"]},"else":{"actions":{"Apply_to_each_2":{"foreach":"@outputs('Check_if_File_is_in_Released')?['body/value']","actions":{"Update_file":{"runAfter":{},"metadata":{"operationMetadataId":"e034c76a-d82a-4ad1-83c1-38333efc874e"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"UpdateFile"},"parameters":{"dataset":"https://redwoodmaterials1.sharepoint.com/sites/Documents","id":"@items('Apply_to_each_2')?['{Identifier}']","body":"@body('Convert_file_to_PDF')"},"authentication":"@parameters('$authentication')"}},"Set_content_approval_status_2":{"runAfter":{"Update_file":["Succeeded"]},"metadata":{"operationMetadataId":"5ef97ff2-8bb4-4434-aee1-f1a5ff7989a8"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"SetApprovalStatus"},"parameters":{"dataset":"https://redwoodmaterials1.sharepoint.com/sites/Documents","table":"e96e8481-b2e8-4bcf-802e-1f5a3ee7b1d7","id":"@items('Apply_to_each_2')?['ID']","approvalAction":"Approve","comments":"@outputs('Start_and_wait_for_an_approval')?['body/responseSummary']","entityTag":"@outputs('Update_file')?['body/ETag']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"metadata":{"operationMetadataId":"1febc604-a6ca-4786-af66-7e6269ff7233"},"type":"Foreach"}}},"expression":{"less":["@length(outputs('Check_if_File_is_in_Released')?['body/value'])",1]},"metadata":{"operationMetadataId":"542079dc-c142-4a1b-b087-014879e98006"},"type":"If","description":"length(outputs('Check_if_File_is_in_Released')?['body/value'])"},"Check_if_File_is_in_Released":{"runAfter":{"Convert_file_to_PDF":["Succeeded"]},"metadata":{"operationMetadataId":"2d489bd8-7545-4195-a37c-ccb7181c8fbd"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileItems"},"parameters":{"dataset":"https://redwoodmaterials1.sharepoint.com/sites/Documents","table":"e96e8481-b2e8-4bcf-802e-1f5a3ee7b1d7","$filter":"RWDoc_x0020_Number eq '@{outputs('Get_file_check_in_status')?['body/RWDoc_x0020_Number']}'"},"authentication":"@parameters('$authentication')"}},"Select_Doc_Category":{"runAfter":{"Select_Business_Unit":["Succeeded"]},"metadata":{"operationMetadataId":"6765e484-1e30-4007-974a-6f7c8e6f036a"},"type":"Select","inputs":{"from":"@outputs('Get_file_properties')?['body/Doc_x0020_Category']","select":{"value":"@item()?['Value']"}}},"Get_Recipients_from_Approval_List":{"runAfter":{"Check_in_file":["Succeeded"]},"metadata":{"operationMetadataId":"019b8b3f-5e78-4eb3-83ff-dc96283826f0"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://redwoodmaterials1.sharepoint.com/sites/Documents","table":"c5fb1e92-e6bb-4397-a5cf-806da21aa6b8","$filter":"@body('Parse_JSON')[0]['AffectedTeamsQuery']"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_3":{"foreach":"@outputs('Get_Recipients_from_Approval_List')?['body/value']","actions":{"Apply_to_each_4":{"foreach":"@items('Apply_to_each_3')?['Consulted']","actions":{"Add_to_recipient_collection":{"runAfter":{},"metadata":{"operationMetadataId":"6d452834-a858-4033-a96f-33bd493aae7b"},"type":"AppendToArrayVariable","inputs":{"name":"varRecipientCollection","value":"@items('Apply_to_each_4')['Email']"}}},"runAfter":{},"metadata":{"operationMetadataId":"1aecc5f0-9824-4caa-b6d9-b45aaa553849"},"type":"Foreach"}},"runAfter":{"Get_Recipients_from_Approval_List":["Succeeded"]},"metadata":{"operationMetadataId":"058b3978-e19b-4851-95f2-6deaf7aac8b3"},"type":"Foreach"},"Add_Doc_Owner_to_recipient_collection":{"runAfter":{"Apply_to_each_3":["Succeeded"]},"metadata":{"operationMetadataId":"b1f6ff0c-d352-4370-9c77-15025410607b"},"type":"AppendToArrayVariable","inputs":{"name":"varRecipientCollection","value":"@outputs('Get_file_check_in_status')?['body/Document_x0020_Owner/Email']"}}},"runAfter":{"Start_and_wait_for_an_approval":["Succeeded"]},"else":{"actions":{"Check_in_file_after_rejection":{"runAfter":{},"metadata":{"operationMetadataId":"4f048ffe-b4aa-45f9-801f-b5027db37d8a"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CheckInFile"},"parameters":{"dataset":"https://redwoodmaterials1.sharepoint.com/sites/Documents","table":"dc949db8-5518-4eb6-9ac7-3d3f62ad17ae","id":"@variables('varFileId')","parameter/comment":"Document has been rejected.","parameter/checkinType":2},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body/responses']","actions":{"Append_to_array_variable":{"runAfter":{},"metadata":{"operationMetadataId":"641b6790-a1a7-4883-9c62-998fb523612d"},"type":"AppendToArrayVariable","inputs":{"name":"varApprovalComments","value":{"Approver":"@{items('Apply_to_each')?['responder/displayName']}","Comments":"@items('Apply_to_each')?['comments']"}}}},"runAfter":{"Check_in_file_after_rejection":["Succeeded"]},"metadata":{"operationMetadataId":"402fbcce-48d1-4fbf-a0e0-cd1f72b5025c"},"type":"Foreach"},"Create_HTML_table":{"runAfter":{"Apply_to_each":["Succeeded"]},"metadata":{"operationMetadataId":"7d513630-2b3f-4d22-868b-75a4a0ab32a3"},"type":"Table","inputs":{"from":"@variables('varApprovalComments')","format":"HTML"}},"Table_CSS":{"runAfter":{"Create_HTML_table":["Succeeded"]},"metadata":{"operationMetadataId":"dabd169e-afa8-4683-8332-cbe75679745e"},"type":"Compose","inputs":"table {\n  border: 1px solid #D8D7D7;\n  background-color: #FFFFFF;\n  width: 100%;\n  text-align: left;\n  border-collapse: collapse;\n}\ntable td, table th {\n  border: 1px solid #FFFFFF;\n  padding: 3px 2px;\n}\ntable tbody td {\n  font-size: 13px;\n}\ntable tr:nth-child(even) {\n  background: #D5D8DA;\n}\ntable thead {\n  background: #66A45C;\n  border-bottom: 0px solid #444444;\n}\ntable thead th {\n  font-size: 15px;\n  font-weight: bold;\n  color: #FFFFFF;\n  text-align: center;\n  border-left: 0px solid #D0E4F5;\n}\ntable thead th:first-child {\n  border-left: none;\n}\n\ntable tfoot td {\n  font-size: 14px;\n}\ntable tfoot .links {\n  text-align: right;\n}\ntable tfoot .links a{\n  display: inline-block;\n  background: #1C6EA4;\n  color: #FFFFFF;\n  padding: 2px 8px;\n  border-radius: 5px;\n}"},"Send_an_email_(V2)":{"runAfter":{"Table_CSS":["Succeeded"]},"metadata":{"operationMetadataId":"019fc159-2028-4de7-919e-f73f42d9f102"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@{outputs('Get_file_check_in_status')?['body/Document_x0020_Owner/Email']};@{join(variables('varSelectedApprovers'),';')};","emailMessage/Subject":"Your document @{variables('varFileName')} has been rejected","emailMessage/Body":"<style>\n@{outputs('Table_CSS')}\n</style>\n\n<p>Your document: @{variables('varFileName')}<br>\n<br>\nHas been rejected for the following reasons:<br>\n@{body('Create_HTML_table')}\n</p>","emailMessage/From":"documents@redwoodmaterials.com","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}}},"expression":{"not":{"contains":["@outputs('Start_and_wait_for_an_approval')?['body/outcome']","Reject"]}},"metadata":{"operationMetadataId":"aabe6e2d-4e1e-42dd-b28f-308d22a5556a"},"type":"If"},"varApprovalComments":{"runAfter":{"varFileId":["Succeeded"]},"metadata":{"operationMetadataId":"6b63c3d4-c869-4021-9b35-b38a8e71ab28"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varApprovalComments","type":"array"}]}},"Get_file_check_in_status":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"07bca195-aac1-4845-8dc7-8b8cbdfd090b"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileItem"},"parameters":{"dataset":"https://redwoodmaterials1.sharepoint.com/sites/Documents","table":"dc949db8-5518-4eb6-9ac7-3d3f62ad17ae","id":"@variables('varFileId')"},"authentication":"@parameters('$authentication')"}},"if_file_is_not_checked_out":{"actions":{"Check_out_file":{"runAfter":{},"metadata":{"operationMetadataId":"d271d01a-d195-4e29-91e9-c07d2b63eafb"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CheckOutFile"},"parameters":{"dataset":"https://redwoodmaterials1.sharepoint.com/sites/Documents","table":"dc949db8-5518-4eb6-9ac7-3d3f62ad17ae","id":"@variables('varFileId')"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_file_check_in_status":["Succeeded"]},"expression":{"not":{"equals":["@outputs('Get_file_check_in_status')?['body/{IsCheckedOut}']","@true"]}},"metadata":{"operationMetadataId":"4ca77ff3-a140-4c0d-a390-f23867103b7e"},"type":"If"},"varFileMods":{"runAfter":{"varSelectedApprovers":["Succeeded"]},"metadata":{"operationMetadataId":"38c5e29f-74ef-4066-a7ef-b5387401ef9b"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varFileMods","type":"string","value":"@{body('Parse_Json')[2]['fileModifications']}"}]}},"varActionableInitiator":{"runAfter":{"varRecipientCollection":["Succeeded"]},"metadata":{"operationMetadataId":"eaba6892-3e6c-4c35-b2cb-1f484131a2ef"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varActionableInitiator","type":"string","value":"@{body('Parse_JSON')[1]['ActionableEmailSubmitter']}"}]}},"varCurrentApprover":{"runAfter":{"varApprovalComments":["Succeeded"]},"metadata":{"operationMetadataId":"d5e6d75b-d64e-41fb-bbb7-ac444761cc89"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varCurrentApprover","type":"string"}]}},"varRecipientCollection":{"runAfter":{"Parse_JSON":["Succeeded"]},"metadata":{"operationMetadataId":"e80fd7de-6427-4526-ab56-592e3b7e9f7a"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varRecipientCollection","type":"array"}]}}},"outputs":{}},"state":"Stopped","sharingType":"CommonDataService","connectionReferences":[{"displayName":"Office 365 Users","id":"/providers/Microsoft.PowerApps/apis/shared_office365users","source":"Embedded","apiDefinition":{"name":"shared_office365users","id":"/providers/Microsoft.PowerApps/apis/shared_office365users","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"Office 365 Users","iconUri":"https://connectoricons-prod.azureedge.net/releases/v1.0.1702/1.0.1702.3810/office365users/icon.png","purpose":"NotSpecified","connectionParameters":{"token":{"type":"oauthSetting","oAuthSettings":{"identityProvider":"office365usercertificate","clientId":"7ab7862c-4c57-491e-8a45-d52a7e023983","scopes":[],"redirectMode":"GlobalPerConnector","redirectUrl":"https://global.consent.azure-apim.net/redirect/office365users","properties":{"IsFirstParty":"True","IsOnbehalfofLoginSupported":true},"customParameters":{"resourceUri":{"value":"https://graph.microsoft.com"},"loginUri":{"value":"https://login.windows.net"},"loginUriAAD":{"value":"https://login.windows.net"}}},"uiDefinition":{"displayName":"Log in with Office 365 Credentials","description":"Log in with Office 365 Credentials","tooltip":"Provide Office 365 Credentials","constraints":{"required":"true"}}},"token:TenantId":{"type":"string","metadata":{"sourceType":"AzureActiveDirectoryTenant"},"uiDefinition":{"displayName":"Tenant","description":"The tenant ID of for the Microsoft Entra ID application","constraints":{"required":"false","hidden":"true"}}}},"scopes":{"will":["Read your full user profile","Read the full profile of all users"],"wont":["Modify or delete any user-profile information"]},"runtimeUrls":["https://unitedstates-002.azure-apim.net/apim/office365users"],"primaryRuntimeUrl":"https://unitedstates-002.azure-apim.net/apim/office365users","metadata":{"source":"marketplace","brandColor":"#eb3c00","useNewApimVersion":"true","version":{"previous":"u/jayawan/releases/v1.0.1694\\1.0.1694.3753","current":"releases/v1.0.1702\\1.0.1702.3810"}},"capabilities":["actions"],"tier":"Standard","isCustomApi":false,"description":"Office 365 Users Connection provider lets you access user profiles in your organization using your Office 365 account. You can perform various actions such as get your profile, a user's profile, a user's manager or direct reports and also update a user profile.","createdTime":"2018-07-10T17:18:13.5987777Z","changedTime":"2024-07-31T19:00:37.8219814Z","publisher":"Microsoft"}}},{"displayName":"Approvals","id":"/providers/Microsoft.PowerApps/apis/shared_approvals","source":"Embedded","apiDefinition":{"name":"shared_approvals","id":"/providers/Microsoft.PowerApps/apis/shared_approvals","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"Approvals","iconUri":"https://connectoricons-prod.azureedge.net/u/laborbol/partial-builds/1711/1.0.1711.3876/approvals/icon.png","purpose":"NotSpecified","connectionParameters":{},"runtimeUrls":["https://unitedstates-002.azure-apim.net/apim/approvals"],"primaryRuntimeUrl":"https://unitedstates-002.azure-apim.net/apim/approvals","metadata":{"source":"marketplace","brandColor":"#6464F5","connectionLimits":{"*":1},"useNewApimVersion":"true","version":{"previous":"releases/v1.0.1682\\1.0.1682.3672","current":"u/laborbol/partial-builds/1711\\1.0.1711.3876"}},"capabilities":["actions"],"tier":"Standard","isCustomApi":false,"description":"Enables approvals in workflows.","createdTime":"2018-09-16T06:25:00.1694116Z","changedTime":"2024-09-05T16:39:14.3989559Z","publisher":"Microsoft"}}},{"displayName":"SharePoint","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","source":"Embedded","apiDefinition":{"name":"shared_sharepointonline","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"SharePoint","iconUri":"https://connectoricons-prod.azureedge.net/u/jayawan/releases/v1.0.1697/1.0.1697.3786/sharepointonline/icon.png","purpose":"NotSpecified","connectionParameters":{"token":{"type":"oauthSetting","oAuthSettings":{"identityProvider":"sharepointonlinecertificateV2","clientId":"7ab7862c-4c57-491e-8a45-d52a7e023983","scopes":[],"redirectMode":"GlobalPerConnector","redirectUrl":"https://global.consent.azure-apim.net/redirect/sharepointonline","properties":{"IsFirstParty":"True","IsOnbehalfofLoginSupported":true},"customParameters":{"resourceUriAAD":{"value":"https://graph.microsoft.com/"},"loginUri":{"value":"https://login.windows.net"},"loginUriAAD":{"value":"https://login.windows.net"},"resourceUri":{"value":"https://graph.microsoft.com"}}},"uiDefinition":{"displayName":"Log in with SharePoint Credentials","description":"Log in with SharePoint Credentials","tooltip":"Provide SharePoint Credentials","constraints":{"required":"true","capability":["cloud"]}}},"token:TenantId":{"type":"string","metadata":{"sourceType":"AzureActiveDirectoryTenant"},"uiDefinition":{"displayName":"Tenant","description":"The tenant ID of for the Microsoft Entra ID application","constraints":{"required":"false","hidden":"true"}}},"gateway":{"type":"gatewaySetting","gatewaySettings":{"dataSourceType":"SharePoint","connectionDetails":[]},"uiDefinition":{"tabIndex":1,"constraints":{"hidden":"false","capability":["gateway"]}}},"authType":{"type":"string","allowedValues":[{"value":"windows"}],"uiDefinition":{"displayName":"Authentication Type","description":"Authentication type to connect to your database","tooltip":"Authentication type to connect to your database","constraints":{"tabIndex":2,"required":"false","allowedValues":[{"text":"Windows","value":"windows"}],"capability":["gateway"]}}},"username":{"type":"securestring","uiDefinition":{"displayName":"Username","description":"Username credential","tooltip":"Username credential","constraints":{"tabIndex":3,"clearText":true,"required":"true","capability":["gateway"]}}},"password":{"type":"securestring","uiDefinition":{"displayName":"Password","description":"Password credential","tooltip":"Password credential","constraints":{"tabIndex":4,"required":"true","capability":["gateway"]}}}},"scopes":{"will":["Read list and library names, as well as the names of the columns","Create, read, update, copy and delete files and metadata","Create, read, update, and delete list items"],"wont":[]},"runtimeUrls":["https://unitedstates-002.azure-apim.net/apim/sharepointonline"],"primaryRuntimeUrl":"https://unitedstates-002.azure-apim.net/apim/sharepointonline","metadata":{"source":"marketplace","brandColor":"#036C70","useNewApimVersion":"true","version":{"previous":"u/jayawan/releases/v1.0.1694\\1.0.1694.3753","current":"u/jayawan/releases/v1.0.1697\\1.0.1697.3786"}},"capabilities":["tabular","gateway","cloud"],"tier":"Standard","isCustomApi":false,"description":"SharePoint helps organizations share and collaborate with colleagues, partners, and customers. You can connect to SharePoint Online or to an on-premises SharePoint 2016 or 2019 farm using the On-Premises Data Gateway to manage documents and list items.","createdTime":"2018-08-02T22:20:45.5681417Z","changedTime":"2024-08-23T15:08:14.8176286Z","publisher":"Microsoft"}}},{"displayName":"OneDrive for Business","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","source":"Embedded","apiDefinition":{"name":"shared_onedriveforbusiness","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"OneDrive for Business","iconUri":"https://connectoricons-prod.azureedge.net/releases/v1.0.1689/1.0.1689.3722/onedriveforbusiness/icon.png","purpose":"NotSpecified","connectionParameters":{"token":{"type":"oauthSetting","oAuthSettings":{"identityProvider":"OneDriveForBusinessCertificate","clientId":"7ab7862c-4c57-491e-8a45-d52a7e023983","scopes":[],"redirectMode":"GlobalPerConnector","redirectUrl":"https://global.consent.azure-apim.net/redirect/onedriveforbusiness","properties":{"IsFirstParty":"True","IsOnbehalfofLoginSupported":true},"customParameters":{"capability":{"value":"MyFiles"},"grantType":{"value":"code"},"resourceUri":{"value":"https://graph.microsoft.com"},"resourceUriAAD":{"value":"https://graph.microsoft.com"},"loginUriAAD":{"value":"https://login.windows.net"}}},"uiDefinition":{"displayName":"Log in with OneDrive for Business Credentials","description":"Log in with OneDrive for Business Credentials","tooltip":"Provide OneDrive for Business Credentials","constraints":{"required":"true"}}}},"scopes":{"will":["Read your user profile","Create, read, update, and delete files"],"wont":[]},"runtimeUrls":["https://unitedstates-002.azure-apim.net/apim/onedriveforbusiness"],"primaryRuntimeUrl":"https://unitedstates-002.azure-apim.net/apim/onedriveforbusiness","metadata":{"source":"marketplace","brandColor":"#0078D4","useNewApimVersion":"true","version":{"previous":"releases/v1.0.1669\\1.0.1669.3522","current":"releases/v1.0.1689\\1.0.1689.3722"}},"capabilities":["blob"],"tier":"Standard","isCustomApi":false,"description":"OneDrive for Business is a cloud storage, file hosting service that allows users to sync files and later access them from a web browser or mobile device. Connect to OneDrive for Business to manage your files. You can perform various actions such as upload, update, get, and delete files.","createdTime":"2018-07-10T17:18:05.5760104Z","changedTime":"2024-08-23T15:08:11.0050581Z","publisher":"Microsoft"}}},{"displayName":"Office 365 Outlook","id":"/providers/Microsoft.PowerApps/apis/shared_office365","source":"Embedded","apiDefinition":{"name":"shared_office365","id":"/providers/Microsoft.PowerApps/apis/shared_office365","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"Office 365 Outlook","iconUri":"https://connectoricons-prod.azureedge.net/releases/v1.0.1686/1.0.1686.3706/office365/icon.png","purpose":"NotSpecified","connectionParameters":{"token":{"type":"oauthSetting","oAuthSettings":{"identityProvider":"aadcertificate","clientId":"7ab7862c-4c57-491e-8a45-d52a7e023983","scopes":[],"redirectMode":"GlobalPerConnector","redirectUrl":"https://global.consent.azure-apim.net/redirect/office365","properties":{"IsFirstParty":"True","AzureActiveDirectoryResourceId":"https://graph.microsoft.com","IsOnbehalfofLoginSupported":true},"customParameters":{"resourceUri":{"value":"https://graph.microsoft.com"},"loginUriAAD":{"value":"https://login.windows.net"},"loginUri":{"value":"https://login.windows.net"}}},"uiDefinition":{"displayName":"Log in with Office 365 Credentials","description":"Log in with Office 365 Credentials","tooltip":"Provide Office 365 Credentials","constraints":{"required":"true"}}}},"scopes":{"will":["Read your user profile","Read, update, and delete your mails","Send mail as signed in user (you)","Create, read, update, and delete events","Create, read, update, and delete contacts"],"wont":[]},"runtimeUrls":["https://unitedstates-002.azure-apim.net/apim/office365"],"primaryRuntimeUrl":"https://unitedstates-002.azure-apim.net/apim/office365","metadata":{"source":"marketplace","brandColor":"#0078D4","useNewApimVersion":"true","version":{"previous":"releases/v1.0.1677\\1.0.1677.3637","current":"releases/v1.0.1686\\1.0.1686.3706"}},"capabilities":["actions"],"tier":"Standard","isCustomApi":false,"description":"Microsoft Office 365 is a cloud-based service that is designed to help meet your organization's needs for robust security, reliability, and user productivity.","createdTime":"2018-07-10T17:18:33.233677Z","changedTime":"2024-06-04T16:43:50.492546Z","publisher":"Microsoft"}}}],"createdTime":"2022-11-30T20:04:49Z","lastModifiedTime":"2022-11-30T20:04:49Z","flowSuspensionReason":"None","environment":{"name":"cd87827b-852d-e0f8-9364-a33bba253907","type":"Microsoft.Flow/environments","id":"/providers/Microsoft.Flow/environments/cd87827b-852d-e0f8-9364-a33bba253907"},"definitionSummary":{"triggers":[{"type":"Request","kind":"Http","metadata":{"operationMetadataId":"8f2a37df-c369-4ce0-bbbc-e8097ed711d3"}}],"actions":[{"type":"ParseJson","metadata":{"operationMetadataId":"b68f5bc4-8920-4b5d-bc77-3ef9b67680f7"}},{"type":"Foreach","metadata":{"operationMetadataId":"9b4800d4-d3aa-461e-8409-9a44037d2382"}},{"type":"InitializeVariable","metadata":{"operationMetadataId":"3057c72b-2eec-412c-bd02-887b5e79e1b3"}},{"type":"InitializeVariable","metadata":{"operationMetadataId":"fcddbb76-f846-4a00-9b72-4c9a4dd28707"}},{"type":"InitializeVariable","metadata":{"operationMetadataId":"5c111919-2e41-4514-9cbb-f2874ea9a677"}},{"type":"OpenApiConnectionWebhook","swaggerOperationId":"StartAndWaitForAnApproval","metadata":{"operationMetadataId":"c17ecb1e-c065-42f6-8389-b3aaa2f3290f"},"api":{"name":"shared_approvals","id":"/providers/Microsoft.PowerApps/apis/shared_approvals","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"Approvals","iconUri":"https://connectoricons-prod.azureedge.net/u/laborbol/partial-builds/1711/1.0.1711.3876/approvals/icon.png","metadata":{"source":"marketplace","brandColor":"#6464F5","connectionLimits":{"*":1},"useNewApimVersion":"true","version":{"previous":"releases/v1.0.1682\\1.0.1682.3672","current":"u/laborbol/partial-builds/1711\\1.0.1711.3876"}},"tier":"Standard","isCustomApi":false,"description":"Enables approvals in workflows."}}},{"type":"OpenApiConnection","swaggerOperationId":"CreateSharingLink","metadata":{"operationMetadataId":"0a322252-4a38-48dc-97fa-edee370cdf98"},"api":{"name":"shared_sharepointonline","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"SharePoint","iconUri":"https://connectoricons-prod.azureedge.net/u/jayawan/releases/v1.0.1697/1.0.1697.3786/sharepointonline/icon.png","metadata":{"source":"marketplace","brandColor":"#036C70","useNewApimVersion":"true","version":{"previous":"u/jayawan/releases/v1.0.1694\\1.0.1694.3753","current":"u/jayawan/releases/v1.0.1697\\1.0.1697.3786"}},"tier":"Standard","isCustomApi":false,"description":"SharePoint helps organizations share and collaborate with colleagues, partners, and customers. You can connect to SharePoint Online or to an on-premises SharePoint 2016 or 2019 farm using the On-Premises Data Gateway to manage documents and list items."}}},{"type":"Compose","metadata":{"operationMetadataId":"29706b81-d22d-40dc-b0e7-1c677a7d6562"}},{"type":"If","metadata":{"operationMetadataId":"aabe6e2d-4e1e-42dd-b28f-308d22a5556a"}},{"type":"InitializeVariable","metadata":{"operationMetadataId":"6b63c3d4-c869-4021-9b35-b38a8e71ab28"}},{"type":"OpenApiConnection","swaggerOperationId":"GetFileItem","metadata":{"operationMetadataId":"07bca195-aac1-4845-8dc7-8b8cbdfd090b"},"api":{"name":"shared_sharepointonline","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"SharePoint","iconUri":"https://connectoricons-prod.azureedge.net/u/jayawan/releases/v1.0.1697/1.0.1697.3786/sharepointonline/icon.png","metadata":{"source":"marketplace","brandColor":"#036C70","useNewApimVersion":"true","version":{"previous":"u/jayawan/releases/v1.0.1694\\1.0.1694.3753","current":"u/jayawan/releases/v1.0.1697\\1.0.1697.3786"}},"tier":"Standard","isCustomApi":false,"description":"SharePoint helps organizations share and collaborate with colleagues, partners, and customers. You can connect to SharePoint Online or to an on-premises SharePoint 2016 or 2019 farm using the On-Premises Data Gateway to manage documents and list items."}}},{"type":"If","metadata":{"operationMetadataId":"4ca77ff3-a140-4c0d-a390-f23867103b7e"}},{"type":"InitializeVariable","metadata":{"operationMetadataId":"38c5e29f-74ef-4066-a7ef-b5387401ef9b"}},{"type":"InitializeVariable","metadata":{"operationMetadataId":"eaba6892-3e6c-4c35-b2cb-1f484131a2ef"}},{"type":"InitializeVariable","metadata":{"operationMetadataId":"d5e6d75b-d64e-41fb-bbb7-ac444761cc89"}},{"type":"InitializeVariable","metadata":{"operationMetadataId":"e80fd7de-6427-4526-ab56-592e3b7e9f7a"}},{"type":"If","metadata":{"operationMetadataId":"fbdc6ad1-4b2a-4095-9b34-b4e0b33bc663"}},{"type":"OpenApiConnection","swaggerOperationId":"GetFileItem","metadata":{"operationMetadataId":"9edbfa87-02d5-4b3d-969c-1e3f75188e4d"},"api":{"name":"shared_sharepointonline","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"SharePoint","iconUri":"https://connectoricons-prod.azureedge.net/u/jayawan/releases/v1.0.1697/1.0.1697.3786/sharepointonline/icon.png","metadata":{"source":"marketplace","brandColor":"#036C70","useNewApimVersion":"true","version":{"previous":"u/jayawan/releases/v1.0.1694\\1.0.1694.3753","current":"u/jayawan/releases/v1.0.1697\\1.0.1697.3786"}},"tier":"Standard","isCustomApi":false,"description":"SharePoint helps organizations share and collaborate with colleagues, partners, and customers. You can connect to SharePoint Online or to an on-premises SharePoint 2016 or 2019 farm using the On-Premises Data Gateway to manage documents and list items."}}},{"type":"OpenApiConnection","swaggerOperationId":"GetFileContent","metadata":{"operationMetadataId":"097b51e6-0c99-4135-b5fd-2c3eafb1eedc"},"api":{"name":"shared_sharepointonline","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"SharePoint","iconUri":"https://connectoricons-prod.azureedge.net/u/jayawan/releases/v1.0.1697/1.0.1697.3786/sharepointonline/icon.png","metadata":{"source":"marketplace","brandColor":"#036C70","useNewApimVersion":"true","version":{"previous":"u/jayawan/releases/v1.0.1694\\1.0.1694.3753","current":"u/jayawan/releases/v1.0.1697\\1.0.1697.3786"}},"tier":"Standard","isCustomApi":false,"description":"SharePoint helps organizations share and collaborate with colleagues, partners, and customers. You can connect to SharePoint Online or to an on-premises SharePoint 2016 or 2019 farm using the On-Premises Data Gateway to manage documents and list items."}}},{"type":"OpenApiConnection","swaggerOperationId":"CreateFile","metadata":{"operationMetadataId":"397c5127-ec51-401b-81e4-9efef494f211"},"api":{"name":"shared_onedriveforbusiness","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"OneDrive for Business","iconUri":"https://connectoricons-prod.azureedge.net/releases/v1.0.1689/1.0.1689.3722/onedriveforbusiness/icon.png","metadata":{"source":"marketplace","brandColor":"#0078D4","useNewApimVersion":"true","version":{"previous":"releases/v1.0.1669\\1.0.1669.3522","current":"releases/v1.0.1689\\1.0.1689.3722"}},"tier":"Standard","isCustomApi":false,"description":"OneDrive for Business is a cloud storage, file hosting service that allows users to sync files and later access them from a web browser or mobile device. Connect to OneDrive for Business to manage your files. You can perform various actions such as upload, update, get, and delete files."}}},{"type":"OpenApiConnection","swaggerOperationId":"ConvertFile","metadata":{"operationMetadataId":"456c7fb4-ad96-4f0a-8025-0a499ba22b46"},"api":{"name":"shared_onedriveforbusiness","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"OneDrive for Business","iconUri":"https://connectoricons-prod.azureedge.net/releases/v1.0.1689/1.0.1689.3722/onedriveforbusiness/icon.png","metadata":{"source":"marketplace","brandColor":"#0078D4","useNewApimVersion":"true","version":{"previous":"releases/v1.0.1669\\1.0.1669.3522","current":"releases/v1.0.1689\\1.0.1689.3722"}},"tier":"Standard","isCustomApi":false,"description":"OneDrive for Business is a cloud storage, file hosting service that allows users to sync files and later access them from a web browser or mobile device. Connect to OneDrive for Business to manage your files. You can perform various actions such as upload, update, get, and delete files."}}},{"type":"OpenApiConnection","swaggerOperationId":"PatchFileItem","metadata":{"operationMetadataId":"ef512647-12eb-43cd-b0d4-25a5c693fde6"},"api":{"name":"shared_sharepointonline","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"SharePoint","iconUri":"https://connectoricons-prod.azureedge.net/u/jayawan/releases/v1.0.1697/1.0.1697.3786/sharepointonline/icon.png","metadata":{"source":"marketplace","brandColor":"#036C70","useNewApimVersion":"true","version":{"previous":"u/jayawan/releases/v1.0.1694\\1.0.1694.3753","current":"u/jayawan/releases/v1.0.1697\\1.0.1697.3786"}},"tier":"Standard","isCustomApi":false,"description":"SharePoint helps organizations share and collaborate with colleagues, partners, and customers. You can connect to SharePoint Online or to an on-premises SharePoint 2016 or 2019 farm using the On-Premises Data Gateway to manage documents and list items."}}},{"type":"OpenApiConnection","swaggerOperationId":"CheckInFile","metadata":{"operationMetadataId":"4f048ffe-b4aa-45f9-801f-b5027db37d8a"},"api":{"name":"shared_sharepointonline","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"SharePoint","iconUri":"https://connectoricons-prod.azureedge.net/u/jayawan/releases/v1.0.1697/1.0.1697.3786/sharepointonline/icon.png","metadata":{"source":"marketplace","brandColor":"#036C70","useNewApimVersion":"true","version":{"previous":"u/jayawan/releases/v1.0.1694\\1.0.1694.3753","current":"u/jayawan/releases/v1.0.1697\\1.0.1697.3786"}},"tier":"Standard","isCustomApi":false,"description":"SharePoint helps organizations share and collaborate with colleagues, partners, and customers. You can connect to SharePoint Online or to an on-premises SharePoint 2016 or 2019 farm using the On-Premises Data Gateway to manage documents and list items."}}},{"type":"Select","metadata":{"operationMetadataId":"7e1ed394-4cd1-419f-9102-4f42aff1048c"}},{"type":"Select","metadata":{"operationMetadataId":"74d1ded5-b7b5-4257-abbd-2672751790f6"}},{"type":"OpenApiConnection","swaggerOperationId":"SetApprovalStatus","metadata":{"operationMetadataId":"e41a22d4-9f95-471f-a567-d9ed320e8c7f"},"api":{"name":"shared_sharepointonline","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"SharePoint","iconUri":"https://connectoricons-prod.azureedge.net/u/jayawan/releases/v1.0.1697/1.0.1697.3786/sharepointonline/icon.png","metadata":{"source":"marketplace","brandColor":"#036C70","useNewApimVersion":"true","version":{"previous":"u/jayawan/releases/v1.0.1694\\1.0.1694.3753","current":"u/jayawan/releases/v1.0.1697\\1.0.1697.3786"}},"tier":"Standard","isCustomApi":false,"description":"SharePoint helps organizations share and collaborate with colleagues, partners, and customers. You can connect to SharePoint Online or to an on-premises SharePoint 2016 or 2019 farm using the On-Premises Data Gateway to manage documents and list items."}}},{"type":"OpenApiConnection","swaggerOperationId":"SetApprovalStatus","metadata":{"operationMetadataId":"21be1212-228e-4a06-817a-03908a37c16c"},"api":{"name":"shared_sharepointonline","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"SharePoint","iconUri":"https://connectoricons-prod.azureedge.net/u/jayawan/releases/v1.0.1697/1.0.1697.3786/sharepointonline/icon.png","metadata":{"source":"marketplace","brandColor":"#036C70","useNewApimVersion":"true","version":{"previous":"u/jayawan/releases/v1.0.1694\\1.0.1694.3753","current":"u/jayawan/releases/v1.0.1697\\1.0.1697.3786"}},"tier":"Standard","isCustomApi":false,"description":"SharePoint helps organizations share and collaborate with colleagues, partners, and customers. You can connect to SharePoint Online or to an on-premises SharePoint 2016 or 2019 farm using the On-Premises Data Gateway to manage documents and list items."}}},{"type":"If","metadata":{"operationMetadataId":"542079dc-c142-4a1b-b087-014879e98006"}},{"type":"OpenApiConnection","swaggerOperationId":"GetFileItems","metadata":{"operationMetadataId":"2d489bd8-7545-4195-a37c-ccb7181c8fbd"},"api":{"name":"shared_sharepointonline","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"SharePoint","iconUri":"https://connectoricons-prod.azureedge.net/u/jayawan/releases/v1.0.1697/1.0.1697.3786/sharepointonline/icon.png","metadata":{"source":"marketplace","brandColor":"#036C70","useNewApimVersion":"true","version":{"previous":"u/jayawan/releases/v1.0.1694\\1.0.1694.3753","current":"u/jayawan/releases/v1.0.1697\\1.0.1697.3786"}},"tier":"Standard","isCustomApi":false,"description":"SharePoint helps organizations share and collaborate with colleagues, partners, and customers. You can connect to SharePoint Online or to an on-premises SharePoint 2016 or 2019 farm using the On-Premises Data Gateway to manage documents and list items."}}},{"type":"Select","metadata":{"operationMetadataId":"6765e484-1e30-4007-974a-6f7c8e6f036a"}},{"type":"OpenApiConnection","swaggerOperationId":"GetItems","metadata":{"operationMetadataId":"019b8b3f-5e78-4eb3-83ff-dc96283826f0"},"api":{"name":"shared_sharepointonline","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"SharePoint","iconUri":"https://connectoricons-prod.azureedge.net/u/jayawan/releases/v1.0.1697/1.0.1697.3786/sharepointonline/icon.png","metadata":{"source":"marketplace","brandColor":"#036C70","useNewApimVersion":"true","version":{"previous":"u/jayawan/releases/v1.0.1694\\1.0.1694.3753","current":"u/jayawan/releases/v1.0.1697\\1.0.1697.3786"}},"tier":"Standard","isCustomApi":false,"description":"SharePoint helps organizations share and collaborate with colleagues, partners, and customers. You can connect to SharePoint Online or to an on-premises SharePoint 2016 or 2019 farm using the On-Premises Data Gateway to manage documents and list items."}}},{"type":"Foreach","metadata":{"operationMetadataId":"058b3978-e19b-4851-95f2-6deaf7aac8b3"}},{"type":"AppendToArrayVariable","metadata":{"operationMetadataId":"b1f6ff0c-d352-4370-9c77-15025410607b"}},{"type":"OpenApiConnection","swaggerOperationId":"CheckInFile","metadata":{"operationMetadataId":"4f048ffe-b4aa-45f9-801f-b5027db37d8a"},"api":{"name":"shared_sharepointonline","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"SharePoint","iconUri":"https://connectoricons-prod.azureedge.net/u/jayawan/releases/v1.0.1697/1.0.1697.3786/sharepointonline/icon.png","metadata":{"source":"marketplace","brandColor":"#036C70","useNewApimVersion":"true","version":{"previous":"u/jayawan/releases/v1.0.1694\\1.0.1694.3753","current":"u/jayawan/releases/v1.0.1697\\1.0.1697.3786"}},"tier":"Standard","isCustomApi":false,"description":"SharePoint helps organizations share and collaborate with colleagues, partners, and customers. You can connect to SharePoint Online or to an on-premises SharePoint 2016 or 2019 farm using the On-Premises Data Gateway to manage documents and list items."}}},{"type":"Foreach","metadata":{"operationMetadataId":"402fbcce-48d1-4fbf-a0e0-cd1f72b5025c"}},{"type":"Table","metadata":{"operationMetadataId":"7d513630-2b3f-4d22-868b-75a4a0ab32a3"}},{"type":"Compose","metadata":{"operationMetadataId":"dabd169e-afa8-4683-8332-cbe75679745e"}},{"type":"OpenApiConnection","swaggerOperationId":"SendEmailV2","metadata":{"operationMetadataId":"019fc159-2028-4de7-919e-f73f42d9f102"},"api":{"name":"shared_office365","id":"/providers/Microsoft.PowerApps/apis/shared_office365","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"Office 365 Outlook","iconUri":"https://connectoricons-prod.azureedge.net/releases/v1.0.1686/1.0.1686.3706/office365/icon.png","metadata":{"source":"marketplace","brandColor":"#0078D4","useNewApimVersion":"true","version":{"previous":"releases/v1.0.1677\\1.0.1677.3637","current":"releases/v1.0.1686\\1.0.1686.3706"}},"tier":"Standard","isCustomApi":false,"description":"Microsoft Office 365 is a cloud-based service that is designed to help meet your organization's needs for robust security, reliability, and user productivity."}}},{"type":"OpenApiConnection","swaggerOperationId":"CheckOutFile","metadata":{"operationMetadataId":"d271d01a-d195-4e29-91e9-c07d2b63eafb"},"api":{"name":"shared_sharepointonline","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"SharePoint","iconUri":"https://connectoricons-prod.azureedge.net/u/jayawan/releases/v1.0.1697/1.0.1697.3786/sharepointonline/icon.png","metadata":{"source":"marketplace","brandColor":"#036C70","useNewApimVersion":"true","version":{"previous":"u/jayawan/releases/v1.0.1694\\1.0.1694.3753","current":"u/jayawan/releases/v1.0.1697\\1.0.1697.3786"}},"tier":"Standard","isCustomApi":false,"description":"SharePoint helps organizations share and collaborate with colleagues, partners, and customers. You can connect to SharePoint Online or to an on-premises SharePoint 2016 or 2019 farm using the On-Premises Data Gateway to manage documents and list items."}}},{"type":"Compose","metadata":{"operationMetadataId":"3ef5eafc-2a26-4c14-9ed7-f800be0bf54f"}},{"type":"Foreach","metadata":{"operationMetadataId":"7e4adb19-b7c0-4766-837a-d6f3d376c8cf"}},{"type":"If","metadata":{"operationMetadataId":"03f959f9-0e69-40f5-8c1d-62180f9f5e19"}},{"type":"OpenApiConnection","swaggerOperationId":"CreateFile","metadata":{"operationMetadataId":"a166a321-f601-4e00-b5f6-de93bb6471ce"},"api":{"name":"shared_sharepointonline","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"SharePoint","iconUri":"https://connectoricons-prod.azureedge.net/u/jayawan/releases/v1.0.1697/1.0.1697.3786/sharepointonline/icon.png","metadata":{"source":"marketplace","brandColor":"#036C70","useNewApimVersion":"true","version":{"previous":"u/jayawan/releases/v1.0.1694\\1.0.1694.3753","current":"u/jayawan/releases/v1.0.1697\\1.0.1697.3786"}},"tier":"Standard","isCustomApi":false,"description":"SharePoint helps organizations share and collaborate with colleagues, partners, and customers. You can connect to SharePoint Online or to an on-premises SharePoint 2016 or 2019 farm using the On-Premises Data Gateway to manage documents and list items."}}},{"type":"OpenApiConnection","swaggerOperationId":"CheckOutFile","metadata":{"operationMetadataId":"9c67d8f1-a910-4d53-87e7-3d8bd201283a"},"api":{"name":"shared_sharepointonline","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"SharePoint","iconUri":"https://connectoricons-prod.azureedge.net/u/jayawan/releases/v1.0.1697/1.0.1697.3786/sharepointonline/icon.png","metadata":{"source":"marketplace","brandColor":"#036C70","useNewApimVersion":"true","version":{"previous":"u/jayawan/releases/v1.0.1694\\1.0.1694.3753","current":"u/jayawan/releases/v1.0.1697\\1.0.1697.3786"}},"tier":"Standard","isCustomApi":false,"description":"SharePoint helps organizations share and collaborate with colleagues, partners, and customers. You can connect to SharePoint Online or to an on-premises SharePoint 2016 or 2019 farm using the On-Premises Data Gateway to manage documents and list items."}}},{"type":"OpenApiConnection","swaggerOperationId":"CheckInFile","metadata":{"operationMetadataId":"f3ea8ac3-2a7c-4e41-a0ae-e039a7b91e35"},"api":{"name":"shared_sharepointonline","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"SharePoint","iconUri":"https://connectoricons-prod.azureedge.net/u/jayawan/releases/v1.0.1697/1.0.1697.3786/sharepointonline/icon.png","metadata":{"source":"marketplace","brandColor":"#036C70","useNewApimVersion":"true","version":{"previous":"u/jayawan/releases/v1.0.1694\\1.0.1694.3753","current":"u/jayawan/releases/v1.0.1697\\1.0.1697.3786"}},"tier":"Standard","isCustomApi":false,"description":"SharePoint helps organizations share and collaborate with colleagues, partners, and customers. You can connect to SharePoint Online or to an on-premises SharePoint 2016 or 2019 farm using the On-Premises Data Gateway to manage documents and list items."}}},{"type":"OpenApiConnection","swaggerOperationId":"PatchFileItem","metadata":{"operationMetadataId":"aa2cfb34-3697-42a9-8ef6-e74f3796c8e1"},"api":{"name":"shared_sharepointonline","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"SharePoint","iconUri":"https://connectoricons-prod.azureedge.net/u/jayawan/releases/v1.0.1697/1.0.1697.3786/sharepointonline/icon.png","metadata":{"source":"marketplace","brandColor":"#036C70","useNewApimVersion":"true","version":{"previous":"u/jayawan/releases/v1.0.1694\\1.0.1694.3753","current":"u/jayawan/releases/v1.0.1697\\1.0.1697.3786"}},"tier":"Standard","isCustomApi":false,"description":"SharePoint helps organizations share and collaborate with colleagues, partners, and customers. You can connect to SharePoint Online or to an on-premises SharePoint 2016 or 2019 farm using the On-Premises Data Gateway to manage documents and list items."}}},{"type":"OpenApiConnection","swaggerOperationId":"SendEmailV2","metadata":{"operationMetadataId":"69a610d8-b3be-4bc9-872e-b20233d5ca01"},"api":{"name":"shared_office365","id":"/providers/Microsoft.PowerApps/apis/shared_office365","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"Office 365 Outlook","iconUri":"https://connectoricons-prod.azureedge.net/releases/v1.0.1686/1.0.1686.3706/office365/icon.png","metadata":{"source":"marketplace","brandColor":"#0078D4","useNewApimVersion":"true","version":{"previous":"releases/v1.0.1677\\1.0.1677.3637","current":"releases/v1.0.1686\\1.0.1686.3706"}},"tier":"Standard","isCustomApi":false,"description":"Microsoft Office 365 is a cloud-based service that is designed to help meet your organization's needs for robust security, reliability, and user productivity."}}},{"type":"OpenApiConnection","swaggerOperationId":"GetFileItem","metadata":{"operationMetadataId":"fc3d3b95-2e42-424c-a727-18c218cda501"},"api":{"name":"shared_sharepointonline","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"SharePoint","iconUri":"https://connectoricons-prod.azureedge.net/u/jayawan/releases/v1.0.1697/1.0.1697.3786/sharepointonline/icon.png","metadata":{"source":"marketplace","brandColor":"#036C70","useNewApimVersion":"true","version":{"previous":"u/jayawan/releases/v1.0.1694\\1.0.1694.3753","current":"u/jayawan/releases/v1.0.1697\\1.0.1697.3786"}},"tier":"Standard","isCustomApi":false,"description":"SharePoint helps organizations share and collaborate with colleagues, partners, and customers. You can connect to SharePoint Online or to an on-premises SharePoint 2016 or 2019 farm using the On-Premises Data Gateway to manage documents and list items."}}},{"type":"Foreach","metadata":{"operationMetadataId":"1febc604-a6ca-4786-af66-7e6269ff7233"}},{"type":"Foreach","metadata":{"operationMetadataId":"1aecc5f0-9824-4caa-b6d9-b45aaa553849"}},{"type":"AppendToArrayVariable","metadata":{"operationMetadataId":"641b6790-a1a7-4883-9c62-998fb523612d"}},{"type":"If","metadata":{"operationMetadataId":"de597023-bf66-444d-b6bb-dfb0e838e4aa"}},{"type":"SetVariable","metadata":{"operationMetadataId":"6e7aa929-428f-49e7-aeec-7385f4612abf"}},{"type":"OpenApiConnection","swaggerOperationId":"UserProfile_V2","metadata":{"operationMetadataId":"689fe896-a106-4173-b839-f9deba632e44"},"api":{"name":"shared_office365users","id":"/providers/Microsoft.PowerApps/apis/shared_office365users","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"Office 365 Users","iconUri":"https://connectoricons-prod.azureedge.net/releases/v1.0.1702/1.0.1702.3810/office365users/icon.png","metadata":{"source":"marketplace","brandColor":"#eb3c00","useNewApimVersion":"true","version":{"previous":"u/jayawan/releases/v1.0.1694\\1.0.1694.3753","current":"releases/v1.0.1702\\1.0.1702.3810"}},"tier":"Standard","isCustomApi":false,"description":"Office 365 Users Connection provider lets you access user profiles in your organization using your Office 365 account. You can perform various actions such as get your profile, a user's profile, a user's manager or direct reports and also update a user profile."}}},{"type":"AppendToArrayVariable","metadata":{"operationMetadataId":"de5182ab-31a4-4e5b-ba57-1806ee326f20"}},{"type":"OpenApiConnection","swaggerOperationId":"UpdateFile","metadata":{"operationMetadataId":"e034c76a-d82a-4ad1-83c1-38333efc874e"},"api":{"name":"shared_sharepointonline","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"SharePoint","iconUri":"https://connectoricons-prod.azureedge.net/u/jayawan/releases/v1.0.1697/1.0.1697.3786/sharepointonline/icon.png","metadata":{"source":"marketplace","brandColor":"#036C70","useNewApimVersion":"true","version":{"previous":"u/jayawan/releases/v1.0.1694\\1.0.1694.3753","current":"u/jayawan/releases/v1.0.1697\\1.0.1697.3786"}},"tier":"Standard","isCustomApi":false,"description":"SharePoint helps organizations share and collaborate with colleagues, partners, and customers. You can connect to SharePoint Online or to an on-premises SharePoint 2016 or 2019 farm using the On-Premises Data Gateway to manage documents and list items."}}},{"type":"OpenApiConnection","swaggerOperationId":"SetApprovalStatus","metadata":{"operationMetadataId":"5ef97ff2-8bb4-4434-aee1-f1a5ff7989a8"},"api":{"name":"shared_sharepointonline","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"SharePoint","iconUri":"https://connectoricons-prod.azureedge.net/u/jayawan/releases/v1.0.1697/1.0.1697.3786/sharepointonline/icon.png","metadata":{"source":"marketplace","brandColor":"#036C70","useNewApimVersion":"true","version":{"previous":"u/jayawan/releases/v1.0.1694\\1.0.1694.3753","current":"u/jayawan/releases/v1.0.1697\\1.0.1697.3786"}},"tier":"Standard","isCustomApi":false,"description":"SharePoint helps organizations share and collaborate with colleagues, partners, and customers. You can connect to SharePoint Online or to an on-premises SharePoint 2016 or 2019 farm using the On-Premises Data Gateway to manage documents and list items."}}},{"type":"AppendToArrayVariable","metadata":{"operationMetadataId":"6d452834-a858-4033-a96f-33bd493aae7b"}},{"type":"AppendToArrayVariable","metadata":{"operationMetadataId":"00125e5b-f890-4dda-98b8-101df605a4b7"}}]},"flowFailureAlertSubscribed":false,"workflowEntityId":"6efa307a-dc70-ed11-9562-00224820bad0","workflowUniqueId":"895770af-d04a-48ea-9617-de96477cdf29","referencedResources":[{"service":"sharepoint","resource":{"site":"https://redwoodmaterials1.sharepoint.com/sites/Documents","list":"dc949db8-5518-4eb6-9ac7-3d3f62ad17ae"},"referencers":[{"referenceSourceType":"Actions","operationId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/apiOperations/CreateSharingLink"},{"referenceSourceType":"Actions","operationId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/apiOperations/GetFileItem"},{"referenceSourceType":"Actions","operationId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/apiOperations/GetFileItem"},{"referenceSourceType":"Actions","operationId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/apiOperations/PatchFileItem"},{"referenceSourceType":"Actions","operationId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/apiOperations/CheckInFile"},{"referenceSourceType":"Actions","operationId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/apiOperations/SetApprovalStatus"},{"referenceSourceType":"Actions","operationId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/apiOperations/SetApprovalStatus"},{"referenceSourceType":"Actions","operationId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/apiOperations/CheckInFile"},{"referenceSourceType":"Actions","operationId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/apiOperations/CheckOutFile"},{"referenceSourceType":"Triggers","operationId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/apiOperations/CreateSharingLink"},{"referenceSourceType":"Triggers","operationId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/apiOperations/GetFileItem"},{"referenceSourceType":"Triggers","operationId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/apiOperations/GetFileItem"},{"referenceSourceType":"Triggers","operationId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/apiOperations/PatchFileItem"},{"referenceSourceType":"Triggers","operationId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/apiOperations/CheckInFile"},{"referenceSourceType":"Triggers","operationId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/apiOperations/SetApprovalStatus"},{"referenceSourceType":"Triggers","operationId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/apiOperations/SetApprovalStatus"},{"referenceSourceType":"Triggers","operationId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/apiOperations/CheckInFile"},{"referenceSourceType":"Triggers","operationId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/apiOperations/CheckOutFile"}]},{"service":"sharepoint","resource":{"site":"https://redwoodmaterials1.sharepoint.com/sites/Documents"},"referencers":[{"referenceSourceType":"Actions","operationId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/apiOperations/GetFileContent"},{"referenceSourceType":"Actions","operationId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/apiOperations/CreateFile"},{"referenceSourceType":"Actions","operationId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/apiOperations/UpdateFile"},{"referenceSourceType":"Triggers","operationId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/apiOperations/GetFileContent"},{"referenceSourceType":"Triggers","operationId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/apiOperations/CreateFile"},{"referenceSourceType":"Triggers","operationId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/apiOperations/UpdateFile"}]},{"service":"sharepoint","resource":{"site":"https://redwoodmaterials1.sharepoint.com/sites/Documents","list":"e96e8481-b2e8-4bcf-802e-1f5a3ee7b1d7"},"referencers":[{"referenceSourceType":"Actions","operationId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/apiOperations/GetFileItems"},{"referenceSourceType":"Actions","operationId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/apiOperations/CheckOutFile"},{"referenceSourceType":"Actions","operationId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/apiOperations/CheckInFile"},{"referenceSourceType":"Actions","operationId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/apiOperations/PatchFileItem"},{"referenceSourceType":"Actions","operationId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/apiOperations/GetFileItem"},{"referenceSourceType":"Actions","operationId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/apiOperations/SetApprovalStatus"},{"referenceSourceType":"Triggers","operationId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/apiOperations/GetFileItems"},{"referenceSourceType":"Triggers","operationId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/apiOperations/CheckOutFile"},{"referenceSourceType":"Triggers","operationId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/apiOperations/CheckInFile"},{"referenceSourceType":"Triggers","operationId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/apiOperations/PatchFileItem"},{"referenceSourceType":"Triggers","operationId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/apiOperations/GetFileItem"},{"referenceSourceType":"Triggers","operationId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/apiOperations/SetApprovalStatus"}]},{"service":"sharepoint","resource":{"site":"https://redwoodmaterials1.sharepoint.com/sites/Documents","list":"c5fb1e92-e6bb-4397-a5cf-806da21aa6b8"},"referencers":[{"referenceSourceType":"Actions","operationId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/apiOperations/GetItems"},{"referenceSourceType":"Triggers","operationId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/apiOperations/GetItems"}]}],"isManaged":true,"componentState":"Published","isCustomizable":{"value":true,"canBeChanged":true,"managedPropertyLogicalName":"iscustomizableanddeletable"},"machineDescriptionData":{},"flowOpenAiData":{"isConsequential":false,"isConsequentialFlagOverwritten":false}}}