_Prod - New Document Submission_config.json
{"name":"b69fef43-ab47-f2ae-6dea-30552c4d14d1","id":"/providers/Microsoft.Flow/environments/cd87827b-852d-e0f8-9364-a33bba253907/flows/b69fef43-ab47-f2ae-6dea-30552c4d14d1","type":"Microsoft.Flow/environments/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"_Prod - New Document Submission","userType":"Owner","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_new_response_is_submitted_to_New_Document_Submission_Form":{"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"6978cc73-8afd-40a8-b0ac-658f826743ac"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_microsoftforms_2","operationId":"CreateFormWebhook","apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms"},"parameters":{"form_id":"uIPKy3GpqEOas84lmf8S6vBu4AeAsdBEuVeIG8sufBZUOVQxUlNNVUJIRTJTQk5FSFpIQTI0WFlYTyQlQCN0PWcu"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_response_details":{"runAfter":{},"metadata":{"operationMetadataId":"aa5a4d8f-9751-4c09-8ed7-1aafb4a85ef6"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_microsoftforms_3","operationId":"GetFormResponseById","apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms"},"parameters":{"form_id":"uIPKy3GpqEOas84lmf8S6vBu4AeAsdBEuVeIG8sufBZUOVQxUlNNVUJIRTJTQk5FSFpIQTI0WFlYTyQlQCN0PWcu","response_id":"@triggerOutputs()?['body/resourceData/responseId']"},"authentication":"@parameters('$authentication')"}},"Parse_File_Details_JSON":{"runAfter":{"Get_user_profile_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"b200a940-529b-4f95-9a6e-72c885a4033d"},"type":"ParseJson","inputs":{"content":"@outputs('Get_response_details')?['body/r5fc612c726b6417d9104429caf97612a']","schema":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"link":{"type":"string"},"id":{"type":"string"},"type":{},"size":{"type":"integer"},"referenceId":{"type":"string"},"driveId":{"type":"string"},"status":{"type":"integer"},"uploadSessionUrl":{}},"required":["name","link","id","type","size","referenceId","driveId","status","uploadSessionUrl"]}}}},"Apply_to_each":{"foreach":"@body('Parse_File_Details_JSON')","actions":{"Start_and_wait_for_an_approval":{"runAfter":{},"metadata":{"operationMetadataId":"7b9180c9-7434-4c75-b333-d364bd615401"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_approvals_1","operationId":"StartAndWaitForAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"New Document Submission: @{variables('varFileName')}","WebhookApprovalCreationInput/assignedTo":"documents@redwoodmaterials.com;","WebhookApprovalCreationInput/details":"Document Owner: @{outputs('Get_response_details')?['body/r49b4a02877a34020876dc4693801ad4b']}\nSubmitted On: @{outputs('Get_response_details')?['body/submitDate']}\nFile Name: @{items('Apply_to_each')['name']}","WebhookApprovalCreationInput/itemLink":"@items('Apply_to_each')['link']","WebhookApprovalCreationInput/itemLinkDescription":"@items('Apply_to_each')['name']","WebhookApprovalCreationInput/requestor":"@{outputs('Get_response_details')?['body/responder']};","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}},"If_outcome_is_equal_to_approve":{"actions":{"Get_file_submitted_in_form":{"runAfter":{},"metadata":{"operationMetadataId":"da6345f4-4d2b-40f0-ad6f-a4b70b285a00"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_1","operationId":"GetFileContentByPath","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://redwoodmaterials1.sharepoint.com/sites/WorkFlowAutomation","path":"/Shared Documents/Apps/Microsoft Forms/New Document Submission/Upload attachment/@{items('Apply_to_each')['name']}","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Create_Approved_File":{"runAfter":{"Get_file_submitted_in_form":["Succeeded"]},"metadata":{"operationMetadataId":"4610691f-78c1-422a-b93a-4973f4846d00"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_2","operationId":"CreateFile","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://redwoodmaterials1.sharepoint.com/sites/Documents","folderPath":"@string('/Controlled Documents')","name":"@variables('varFileName')","body":"@body('Get_file_submitted_in_form')"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Update_file_properties":{"runAfter":{"format_Business_Unit_Values":["Succeeded"]},"metadata":{"operationMetadataId":"c1f4ab1b-1793-4793-be63-a82443d28a01"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline_3","operationId":"PatchFileItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"https://redwoodmaterials1.sharepoint.com/sites/Documents","table":"dc949db8-5518-4eb6-9ac7-3d3f62ad17ae","id":"@outputs('Create_Approved_File')?['body/ItemId']","item/Affected_x0020_Teams":"@body('format_Affected_Teams_Values')","item/Business_x0020_Unit":"@body('format_Business_Unit_Values')","item/FormResponseId":"@triggerOutputs()?['body/resourceData/responseId']","item/OData__Status/Value":"Draft"},"authentication":"@parameters('$authentication')"}},"format_Affected_Teams_Values":{"runAfter":{"Create_Approved_File":["Succeeded","Failed"]},"metadata":{"operationMetadataId":"d8a6669e-28f8-4d83-870a-2213e88704a6"},"type":"Select","inputs":{"from":"@variables('varAffectedTeams')","select":{"value":"@item()"}}},"format_Business_Unit_Values":{"runAfter":{"format_Affected_Teams_Values":["Succeeded"]},"metadata":{"operationMetadataId":"5a87283f-cf2b-41f5-814d-8353dae8ea01"},"type":"Select","inputs":{"from":"@variables('varBusinessUnit')","select":{"value":"@item()"}}},"Send_an_email_(V2)_2":{"runAfter":{"Update_file_properties":["Succeeded"]},"metadata":{"operationMetadataId":"424372d4-3fb5-4e79-a537-1b15a158b9d7"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@outputs('Get_response_details')?['body/responder']","emailMessage/Subject":"Your New Document Submission has been approved: @{outputs('Update_file_properties')?['body/{Name}']}","emailMessage/Body":"<html lang=\"en\" xmlns=\"http://www.redwoodmaterials.com\" xmlns:v=\"urn:schemas-microsoft-com:vml\" xmlns:o=\"urn:schemas-microsoft-com:office:office\"><head>\n  <title> Accepted Doc Email </title>\n  <!--[if !mso]><!-- -->\n  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n  <!--<![endif]-->\n  <meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <style type=\"text/css\">\n    #outlook a {\n      padding: 0;\n    }\n\n    body {\n      margin: 0;\n      padding: 0;\n      -webkit-text-size-adjust: 100%;\n      -ms-text-size-adjust: 100%;\n    }\n\n    table,\n    td {\n      border-collapse: collapse;\n      mso-table-lspace: 0pt;\n      mso-table-rspace: 0pt;\n    }\n\n    img {\n      border: 0;\n      height: auto;\n      line-height: 100%;\n      outline: none;\n      text-decoration: none;\n      -ms-interpolation-mode: bicubic;\n    }\n\n    p {\n      display: block;\n      margin: 13px 0;\n    }\n  </style>\n  <!--[if mso]>\n        <xml>\n        <o:OfficeDocumentSettings>\n          <o:AllowPNG/>\n          <o:PixelsPerInch>96</o:PixelsPerInch>\n        </o:OfficeDocumentSettings>\n        </xml>\n        <![endif]-->\n  <!--[if lte mso 11]>\n        <style type=\"text/css\">\n          .mj-outlook-group-fix { width:100% !important; }\n        </style>\n        <![endif]-->\n  <style type=\"text/css\">\n    @media only screen and (min-width:480px) {\n      .mj-column-per-100 {\n        width: 100% !important;\n        max-width: 100%;\n      }\n    }\n  </style>\n  <style type=\"text/css\">\n    @media only screen and (max-width:480px) {\n      table.mj-full-width-mobile {\n        width: 100% !important;\n      }\n\n      td.mj-full-width-mobile {\n        width: auto !important;\n      }\n    }\n  </style>\n  <style type=\"text/css\">\n    a,\n    span,\n    td,\n    th {\n      -webkit-font-smoothing: antialiased !important;\n      -moz-osx-font-smoothing: grayscale !important;\n    }\n  </style>\n</head>\n\n<body style=\"background-color:#ffffff;\">\n  <div style=\"display:none;font-size:1px;color:#ffffff;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;\"> Preview - Accepted Doc Email </div>\n  <div style=\"background-color:#ffffff;\">\n    <!--[if mso | IE]>\n      <table\n         align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" style=\"width:600px;\" width=\"600\"\n      >\n        <tr>\n          <td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\">\n      <![endif]-->\n    <div style=\"margin:0px auto;max-width:600px;\">\n      <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:100%;\">\n        <tbody>\n          <tr>\n            <td style=\"direction:ltr;font-size:0px;padding:20px 0;padding-bottom:0px;text-align:center;\">\n              <!--[if mso | IE]>\n                  <table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\">\n                \n        <tr>\n      \n            <td\n               class=\"\" style=\"vertical-align:top;width:600px;\"\n            >\n          <![endif]-->\n              <div class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">\n                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\">\n                  <tbody><tr>\n                    <td align=\"left\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">\n                      <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"border-collapse:collapse;border-spacing:0px;\">\n                        <tbody>\n                          <tr>\n                            <td style=\"width:150px;\">\n                              <img alt=\"image description\" height=\"auto\" src=\"https://images.squarespace-cdn.com/content/v1/5efe09039ce4f80e7af3f779/1598658367432-1X8MMYALYDIDQL6JNI7H/Redwood+Materials+2+%28transparent+background%29+RGB.png?format=1500w\" style=\"border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:14px;\" width=\"150\">\n                            </td>\n                          </tr>\n                        </tbody>\n                      </table>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td align=\"left\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">\n                      <div style=\"font-family:Helvetica, Arial, sans-serif;font-size:18px;font-weight:400;line-height:24px;text-align:left;color:#434245;\">\n                        <h1 style=\"margin: 0; font-size: 24px; line-height: normal; font-weight: bold;\">  <br> Hey @{outputs('Get_user_profile_(V2)')?['body/displayName']}! </h1>\n                      </div>\n                    </td>\n                  </tr>\n                </tbody></table>\n              </div>\n              <!--[if mso | IE]>\n            </td>\n          \n        </tr>\n      \n                  </table>\n                <![endif]-->\n            </td>\n          </tr>\n        </tbody>\n      </table>\n    </div>\n    <!--[if mso | IE]>\n          </td>\n        </tr>\n      </table>\n      \n      <table\n         align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" style=\"width:600px;\" width=\"600\"\n      >\n        <tr>\n          <td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\">\n      <![endif]-->\n    <div style=\"margin:0px auto;max-width:600px;\">\n      <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:100%;\">\n        <tbody>\n          <tr>\n            <td style=\"direction:ltr;font-size:0px;padding:20px 0;text-align:center;\">\n              <!--[if mso | IE]>\n                  <table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\">\n                \n        <tr>\n      \n            <td\n               class=\"\" style=\"vertical-align:top;width:600px;\"\n            >\n          <![endif]-->\n              <div class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">\n                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\">\n                  <tbody><tr>\n                    <td align=\"left\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">\n                      <div style=\"font-family:Helvetica, Arial, sans-serif;font-size:18px;font-weight:400;line-height:24px;text-align:left;color:#434245;\">Thank you for your submission to Redwood Document Management. </div>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td align=\"left\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">\n                      <div style=\"font-family:Helvetica, Arial, sans-serif;font-size:18px;font-weight:400;line-height:24px;text-align:left;color:#434245;\">Your document has been accepted!</div>\n                    </td>\n                  </tr>\n                      </tbody></table>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td align=\"left\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">\n                      <div style=\"font-family:Helvetica, Arial, sans-serif;font-size:18px;font-weight:400;line-height:24px;text-align:left;color:#434245;\">If you need any help, don’t hesitate to reach out to us at <a href=\"#\" style=\"color: #2e58ff; text-decoration: none;\">documents@redwoodmaterials.com</a>!</div>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td align=\"left\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">\n                      <div style=\"font-family:Helvetica, Arial, sans-serif;font-size:18px;font-weight:bold;line-height:24px;text-align:left;color:#434245;\"> Thank you, <br> Document Management Team</div>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td align=\"left\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">\n                      <!--[if mso | IE]>\n      \n\n</body></html>","emailMessage/From":"documents@redwoodmaterials.com","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)_3":{"runAfter":{"Create_Approved_File":["Failed"]},"metadata":{"operationMetadataId":"d380bb65-3fd9-449c-9700-f4d220a07dff"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"documents@redwoodmaterials.com","emailMessage/Subject":"New Document Failed to be created in pending library: @{variables('varFileName')}","emailMessage/Body":"<p>Fix and try again.</p>","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Start_and_wait_for_an_approval":["Succeeded"]},"else":{"actions":{"For_each_rejection":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body/responses']","actions":{"Send_an_email_(V2)":{"runAfter":{},"metadata":{"operationMetadataId":"01578515-d914-4366-b414-e6ab22d6814d"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365_1","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@outputs('Get_response_details')?['body/responder']","emailMessage/Subject":"Document Rejection Notification: @{items('Apply_to_each')['name']}","emailMessage/Body":"<html lang=\"en\" xmlns=\"http://www.redwoodmaterials.com\" xmlns:v=\"urn:schemas-microsoft-com:vml\" xmlns:o=\"urn:schemas-microsoft-com:office:office\"><head>\n  <title> Rejection Email </title>\n  <!--[if !mso]><!-- -->\n  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n  <!--<![endif]-->\n  <meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <style type=\"text/css\">\n    #outlook a {\n      padding: 0;\n    }\n\n    body {\n      margin: 0;\n      padding: 0;\n      -webkit-text-size-adjust: 100%;\n      -ms-text-size-adjust: 100%;\n    }\n\n    table,\n    td {\n      border-collapse: collapse;\n      mso-table-lspace: 0pt;\n      mso-table-rspace: 0pt;\n    }\n\n    img {\n      border: 0;\n      height: auto;\n      line-height: 100%;\n      outline: none;\n      text-decoration: none;\n      -ms-interpolation-mode: bicubic;\n    }\n\n    p {\n      display: block;\n      margin: 13px 0;\n    }\n  </style>\n  <!--[if mso]>\n        <xml>\n        <o:OfficeDocumentSettings>\n          <o:AllowPNG/>\n          <o:PixelsPerInch>96</o:PixelsPerInch>\n        </o:OfficeDocumentSettings>\n        </xml>\n        <![endif]-->\n  <!--[if lte mso 11]>\n        <style type=\"text/css\">\n          .mj-outlook-group-fix { width:100% !important; }\n        </style>\n        <![endif]-->\n  <style type=\"text/css\">\n    @media only screen and (min-width:480px) {\n      .mj-column-per-100 {\n        width: 100% !important;\n        max-width: 100%;\n      }\n    }\n  </style>\n  <style type=\"text/css\">\n    @media only screen and (max-width:480px) {\n      table.mj-full-width-mobile {\n        width: 100% !important;\n      }\n\n      td.mj-full-width-mobile {\n        width: auto !important;\n      }\n    }\n  </style>\n  <style type=\"text/css\">\n    a,\n    span,\n    td,\n    th {\n      -webkit-font-smoothing: antialiased !important;\n      -moz-osx-font-smoothing: grayscale !important;\n    }\n  </style>\n</head>\n\n<body style=\"background-color:#ffffff;\">\n  <div style=\"display:none;font-size:1px;color:#ffffff;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;\"> Preview - Rejection Email </div>\n  <div style=\"background-color:#ffffff;\">\n    <!--[if mso | IE]>\n      <table\n         align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" style=\"width:600px;\" width=\"600\"\n      >\n        <tr>\n          <td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\">\n      <![endif]-->\n    <div style=\"margin:0px auto;max-width:600px;\">\n      <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:100%;\">\n        <tbody>\n          <tr>\n            <td style=\"direction:ltr;font-size:0px;padding:20px 0;padding-bottom:0px;text-align:center;\">\n              <!--[if mso | IE]>\n                  <table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\">\n                \n        <tr>\n      \n            <td\n               class=\"\" style=\"vertical-align:top;width:600px;\"\n            >\n          <![endif]-->\n              <div class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">\n                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\">\n                  <tbody><tr>\n                    <td align=\"left\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">\n                      <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"border-collapse:collapse;border-spacing:0px;\">\n                        <tbody>\n                          <tr>\n                            <td style=\"width:150px;\">\n                              <img alt=\"image description\" height=\"auto\" src=\"https://images.squarespace-cdn.com/content/v1/5efe09039ce4f80e7af3f779/1598658367432-1X8MMYALYDIDQL6JNI7H/Redwood+Materials+2+%28transparent+background%29+RGB.png?format=1500w\" style=\"border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:14px;\" width=\"150\">\n                            </td>\n                          </tr>\n                        </tbody>\n                      </table>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td align=\"left\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">\n                      <div style=\"font-family:Helvetica, Arial, sans-serif;font-size:18px;font-weight:400;line-height:24px;text-align:left;color:#434245;\">\n                        <h1 style=\"margin: 0; font-size: 24px; line-height: normal; font-weight: bold;\">  <br> Hi  @{outputs('Get_user_profile_(V2)')?['body/displayName']}</h1>\n                      </div>\n                    </td>\n                  </tr>\n                </tbody></table>\n              </div>\n              <!--[if mso | IE]>\n            </td>\n          \n        </tr>\n      \n                  </table>\n                <![endif]-->\n            </td>\n          </tr>\n        </tbody>\n      </table>\n    </div>\n    <!--[if mso | IE]>\n          </td>\n        </tr>\n      </table>\n      \n      <table\n         align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" style=\"width:600px;\" width=\"600\"\n      >\n        <tr>\n          <td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\">\n      <![endif]-->\n    <div style=\"margin:0px auto;max-width:600px;\">\n      <table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:100%;\">\n        <tbody>\n          <tr>\n            <td style=\"direction:ltr;font-size:0px;padding:20px 0;text-align:center;\">\n              <!--[if mso | IE]>\n                  <table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\">\n                \n        <tr>\n      \n            <td\n               class=\"\" style=\"vertical-align:top;width:600px;\"\n            >\n          <![endif]-->\n              <div class=\"mj-column-per-100 mj-outlook-group-fix\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">\n                <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\">\n                  <tbody><tr>\n                    <td align=\"left\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">\n                      <div style=\"font-family:Helvetica, Arial, sans-serif;font-size:18px;font-weight:400;line-height:24px;text-align:left;color:#434245;\">Thank you for your submission to Redwood Document Management. </div>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td align=\"left\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">\n                      <div style=\"font-family:Helvetica, Arial, sans-serif;font-size:18px;font-weight:400;line-height:24px;text-align:left;color:#434245;\">Your document has been <a href=\"https://redwoodmaterials1.sharepoint.com/sites/Documents/SitePages/What-is-Document-Control-.aspx\"; color:#F71111; text-decoration:none>rejected. </a> <br> Please see rejection comments below: \n@{items('For_each_rejection')?['comments']}\n</div>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td align=\"left\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">\n                      <div style=\"font-family:Helvetica, Arial, sans-serif;font-size:18px;font-weight:400;line-height:24px;text-align:left;color:#434245;\"> Please click the link below to resubmit your document.</div>\n                    </td>\n                  </tr> \n                 <tr>\n                    <td align=\"left\" vertical-align=\"middle\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">\n                      <table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"border-collapse:separate;line-height:100%;\">\n                        <tbody><tr>\n                          <td align=\"center\" bgcolor=\"#2e58ff\" role=\"presentation\" style=\"border:none;border-radius:30px;cursor:auto;mso-padding-alt:10px 25px;background:#66A45D;\" valign=\"middle\">\n                            <a href=\"https://redwoodmaterials1.sharepoint.com/sites/Documents/SitePages/Document-Request.aspx\" style=\"display: inline-block; background: #66A45D; color: #ffffff; font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-weight: bold; line-height: 30px; margin: 0; text-decoration: none; text-transform: uppercase; padding: 10px 25px; mso-padding-alt: 0px; border-radius: 30px;\" target=\"_blank\"> Resubmit Document </a>\n                          </td>\n                        </tr>\n                      </tbody></table>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td align=\"left\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">\n                      <div style=\"font-family:Helvetica, Arial, sans-serif;font-size:18px;font-weight:400;line-height:24px;text-align:left;color:#434245;\">If you need any help, don’t hesitate to reach out to us at <a href=\"#\" style=\"color: #2e58ff; text-decoration: none;\">documents@redwoodmaterials.com</a>!</div>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td align=\"left\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">\n                      <div style=\"font-family:Helvetica, Arial, sans-serif;font-size:18px;font-weight:bold;line-height:24px;text-align:left;color:#434245;\"> Thank you, <br> Document Management Team</div>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td align=\"left\" style=\"font-size:0px;padding:10px 25px;word-break:break-word;\">\n                      <!--[if mso | IE]>\n      \n\n</body></html>","emailMessage/From":"documents@redwoodmaterials.com","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"metadata":{"operationMetadataId":"d9015d06-6737-4847-b952-63dfca31425b"},"type":"Foreach"}}},"expression":{"equals":["@outputs('Start_and_wait_for_an_approval')?['body/outcome']","Approve"]},"metadata":{"operationMetadataId":"87455d36-9542-4220-9e25-ec43441d8a87"},"type":"If"}},"runAfter":{"varFileName":["Succeeded"]},"metadata":{"operationMetadataId":"5031bb32-52fe-41d2-ba10-edb4d4d73940"},"type":"Foreach"},"varAffectedTeams":{"runAfter":{"Parse_File_Details_JSON":["Succeeded"]},"metadata":{"operationMetadataId":"46b00f2d-f983-48cf-8561-14feedb6cb89"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varAffectedTeams","type":"array","value":"@json(outputs('Get_response_details')?['body/r98e4c13267c049569d9061d6f1b88b7d'])"}]}},"varBusinessUnit":{"runAfter":{"varAffectedTeams":["Succeeded"]},"metadata":{"operationMetadataId":"56bd7b1b-83f9-42e7-ad06-0b6d7a630c2d"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varBusinessUnit","type":"array","value":"@json(outputs('Get_response_details')?['body/r47db1739d20d4d9a94229c630211af92'])"}]}},"If_TrainingRequired":{"actions":{"Send_Email_to_Learning_Team":{"runAfter":{},"metadata":{"operationMetadataId":"e27c7756-7d9b-4f2e-a885-2a77e5167bb7"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"learning@redwoodmaterials.com","emailMessage/Subject":"New Document Submitted that Requires Training","emailMessage/Body":"<p>Document Owner: @{outputs('Get_response_details')?['body/r49b4a02877a34020876dc4693801ad4b']}<br>\nSubmitted by: @{outputs('Get_response_details')?['body/responder']}<br>\n</p>","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_user_profile_(V2)":["Succeeded"]},"expression":{"equals":["@outputs('Get_response_details')?['body/rdf8711f2c4a64e76b45dd8aef34ee9ae']","Yes"]},"metadata":{"operationMetadataId":"39b2a88c-9e8a-43e6-afa0-a7ac335311ad"},"type":"If"},"varFileName":{"runAfter":{"varBusinessUnit":["Succeeded"]},"metadata":{"operationMetadataId":"8766b607-c748-4103-8eac-f735e7f4afdc"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varFileName","type":"string","value":"@{concat(first(split(body('Parse_File_Details_JSON')[0]['name'],'_')),'.',Last(split(last(split(body('Parse_File_Details_JSON')[0]['name'],'_')),'.')))}"}]},"description":"concat(first(split(body('Parse_File_Details_JSON')[0]['name'],'_')),'.',Last(split(last(split(body('Parse_File_Details_JSON')[0]['name'],'_')),'.')))"},"Get_user_profile_(V2)":{"runAfter":{"Get_response_details":["Succeeded"]},"metadata":{"operationMetadataId":"13d5bc19-b68e-49f4-8b35-9c76a169d6cd"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365users","operationId":"UserProfile_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users"},"parameters":{"id":"@outputs('Get_response_details')?['body/responder']","$select":"DisplayName"},"authentication":"@parameters('$authentication')"}}}},"state":"Stopped","sharingType":"CommonDataService","connectionReferences":[{"displayName":"Microsoft Forms","id":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","source":"Embedded","connectionReferenceLogicalName":"new_sharedmicrosoftforms_d872e","apiDefinition":{"name":"shared_microsoftforms","id":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"Microsoft Forms","iconUri":"https://connectoricons-prod.azureedge.net/releases/v1.0.1686/1.0.1686.3695/microsoftforms/icon.png","purpose":"NotSpecified","connectionParameters":{"token":{"type":"oauthSetting","oAuthSettings":{"identityProvider":"aadcertificate","clientId":"7ab7862c-4c57-491e-8a45-d52a7e023983","scopes":[],"redirectMode":"GlobalPerConnector","redirectUrl":"https://global.consent.azure-apim.net/redirect/microsoftforms","properties":{"IsFirstParty":"True","AzureActiveDirectoryResourceId":"https://forms.office.com","IsOnbehalfofLoginSupported":true},"customParameters":{"resourceUri":{"value":"https://forms.office.com"},"loginUriAAD":{"value":"https://login.windows.net"},"loginUri":{"value":"https://login.windows.net"}}}}},"scopes":{"will":[],"wont":[]},"runtimeUrls":["https://unitedstates-002.azure-apim.net/apim/microsoftforms"],"primaryRuntimeUrl":"https://unitedstates-002.azure-apim.net/apim/microsoftforms","metadata":{"source":"marketplace","brandColor":"#038387","useNewApimVersion":"true","version":{"previous":"releases/v1.0.1665\\1.0.1665.3485","current":"releases/v1.0.1686\\1.0.1686.3695"}},"capabilities":["actions","triggers"],"tier":"Standard","isCustomApi":false,"description":"Microsoft Forms is a new part of Office 365 Education that allows teachers and students to quickly and easily create custom quizzes, surveys, questionnaires, registrations and more.","createdTime":"2018-08-23T19:17:13.2832277Z","changedTime":"2024-08-23T15:08:09.4894552Z","publisher":"Microsoft"}}},{"displayName":"Approvals","id":"/providers/Microsoft.PowerApps/apis/shared_approvals","source":"Embedded","connectionReferenceLogicalName":"new_sharedapprovals_9816e","apiDefinition":{"name":"shared_approvals","id":"/providers/Microsoft.PowerApps/apis/shared_approvals","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"Approvals","iconUri":"https://connectoricons-prod.azureedge.net/u/laborbol/partial-builds/1711/1.0.1711.3876/approvals/icon.png","purpose":"NotSpecified","connectionParameters":{},"runtimeUrls":["https://unitedstates-002.azure-apim.net/apim/approvals"],"primaryRuntimeUrl":"https://unitedstates-002.azure-apim.net/apim/approvals","metadata":{"source":"marketplace","brandColor":"#6464F5","connectionLimits":{"*":1},"useNewApimVersion":"true","version":{"previous":"releases/v1.0.1682\\1.0.1682.3672","current":"u/laborbol/partial-builds/1711\\1.0.1711.3876"}},"capabilities":["actions"],"tier":"Standard","isCustomApi":false,"description":"Enables approvals in workflows.","createdTime":"2018-09-16T06:25:00.1694116Z","changedTime":"2024-09-05T16:39:14.3989559Z","publisher":"Microsoft"}}},{"displayName":"SharePoint","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","source":"Embedded","connectionReferenceLogicalName":"new_sharedsharepointonline_4be98","apiDefinition":{"name":"shared_sharepointonline","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"SharePoint","iconUri":"https://connectoricons-prod.azureedge.net/u/jayawan/releases/v1.0.1697/1.0.1697.3786/sharepointonline/icon.png","purpose":"NotSpecified","connectionParameters":{"token":{"type":"oauthSetting","oAuthSettings":{"identityProvider":"sharepointonlinecertificateV2","clientId":"7ab7862c-4c57-491e-8a45-d52a7e023983","scopes":[],"redirectMode":"GlobalPerConnector","redirectUrl":"https://global.consent.azure-apim.net/redirect/sharepointonline","properties":{"IsFirstParty":"True","IsOnbehalfofLoginSupported":true},"customParameters":{"resourceUriAAD":{"value":"https://graph.microsoft.com/"},"loginUri":{"value":"https://login.windows.net"},"loginUriAAD":{"value":"https://login.windows.net"},"resourceUri":{"value":"https://graph.microsoft.com"}}},"uiDefinition":{"displayName":"Log in with SharePoint Credentials","description":"Log in with SharePoint Credentials","tooltip":"Provide SharePoint Credentials","constraints":{"required":"true","capability":["cloud"]}}},"token:TenantId":{"type":"string","metadata":{"sourceType":"AzureActiveDirectoryTenant"},"uiDefinition":{"displayName":"Tenant","description":"The tenant ID of for the Microsoft Entra ID application","constraints":{"required":"false","hidden":"true"}}},"gateway":{"type":"gatewaySetting","gatewaySettings":{"dataSourceType":"SharePoint","connectionDetails":[]},"uiDefinition":{"tabIndex":1,"constraints":{"hidden":"false","capability":["gateway"]}}},"authType":{"type":"string","allowedValues":[{"value":"windows"}],"uiDefinition":{"displayName":"Authentication Type","description":"Authentication type to connect to your database","tooltip":"Authentication type to connect to your database","constraints":{"tabIndex":2,"required":"false","allowedValues":[{"text":"Windows","value":"windows"}],"capability":["gateway"]}}},"username":{"type":"securestring","uiDefinition":{"displayName":"Username","description":"Username credential","tooltip":"Username credential","constraints":{"tabIndex":3,"clearText":true,"required":"true","capability":["gateway"]}}},"password":{"type":"securestring","uiDefinition":{"displayName":"Password","description":"Password credential","tooltip":"Password credential","constraints":{"tabIndex":4,"required":"true","capability":["gateway"]}}}},"scopes":{"will":["Read list and library names, as well as the names of the columns","Create, read, update, copy and delete files and metadata","Create, read, update, and delete list items"],"wont":[]},"runtimeUrls":["https://unitedstates-002.azure-apim.net/apim/sharepointonline"],"primaryRuntimeUrl":"https://unitedstates-002.azure-apim.net/apim/sharepointonline","metadata":{"source":"marketplace","brandColor":"#036C70","useNewApimVersion":"true","version":{"previous":"u/jayawan/releases/v1.0.1694\\1.0.1694.3753","current":"u/jayawan/releases/v1.0.1697\\1.0.1697.3786"}},"capabilities":["tabular","gateway","cloud"],"tier":"Standard","isCustomApi":false,"description":"SharePoint helps organizations share and collaborate with colleagues, partners, and customers. You can connect to SharePoint Online or to an on-premises SharePoint 2016 or 2019 farm using the On-Premises Data Gateway to manage documents and list items.","createdTime":"2018-08-02T22:20:45.5681417Z","changedTime":"2024-08-23T15:08:14.8176286Z","publisher":"Microsoft"}}},{"displayName":"SharePoint","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","source":"Embedded","connectionReferenceLogicalName":"new_sharedsharepointonline_bedc4","apiDefinition":{"name":"shared_sharepointonline","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"SharePoint","iconUri":"https://connectoricons-prod.azureedge.net/u/jayawan/releases/v1.0.1697/1.0.1697.3786/sharepointonline/icon.png","purpose":"NotSpecified","connectionParameters":{"token":{"type":"oauthSetting","oAuthSettings":{"identityProvider":"sharepointonlinecertificateV2","clientId":"7ab7862c-4c57-491e-8a45-d52a7e023983","scopes":[],"redirectMode":"GlobalPerConnector","redirectUrl":"https://global.consent.azure-apim.net/redirect/sharepointonline","properties":{"IsFirstParty":"True","IsOnbehalfofLoginSupported":true},"customParameters":{"resourceUriAAD":{"value":"https://graph.microsoft.com/"},"loginUri":{"value":"https://login.windows.net"},"loginUriAAD":{"value":"https://login.windows.net"},"resourceUri":{"value":"https://graph.microsoft.com"}}},"uiDefinition":{"displayName":"Log in with SharePoint Credentials","description":"Log in with SharePoint Credentials","tooltip":"Provide SharePoint Credentials","constraints":{"required":"true","capability":["cloud"]}}},"token:TenantId":{"type":"string","metadata":{"sourceType":"AzureActiveDirectoryTenant"},"uiDefinition":{"displayName":"Tenant","description":"The tenant ID of for the Microsoft Entra ID application","constraints":{"required":"false","hidden":"true"}}},"gateway":{"type":"gatewaySetting","gatewaySettings":{"dataSourceType":"SharePoint","connectionDetails":[]},"uiDefinition":{"tabIndex":1,"constraints":{"hidden":"false","capability":["gateway"]}}},"authType":{"type":"string","allowedValues":[{"value":"windows"}],"uiDefinition":{"displayName":"Authentication Type","description":"Authentication type to connect to your database","tooltip":"Authentication type to connect to your database","constraints":{"tabIndex":2,"required":"false","allowedValues":[{"text":"Windows","value":"windows"}],"capability":["gateway"]}}},"username":{"type":"securestring","uiDefinition":{"displayName":"Username","description":"Username credential","tooltip":"Username credential","constraints":{"tabIndex":3,"clearText":true,"required":"true","capability":["gateway"]}}},"password":{"type":"securestring","uiDefinition":{"displayName":"Password","description":"Password credential","tooltip":"Password credential","constraints":{"tabIndex":4,"required":"true","capability":["gateway"]}}}},"scopes":{"will":["Read list and library names, as well as the names of the columns","Create, read, update, copy and delete files and metadata","Create, read, update, and delete list items"],"wont":[]},"runtimeUrls":["https://unitedstates-002.azure-apim.net/apim/sharepointonline"],"primaryRuntimeUrl":"https://unitedstates-002.azure-apim.net/apim/sharepointonline","metadata":{"source":"marketplace","brandColor":"#036C70","useNewApimVersion":"true","version":{"previous":"u/jayawan/releases/v1.0.1694\\1.0.1694.3753","current":"u/jayawan/releases/v1.0.1697\\1.0.1697.3786"}},"capabilities":["tabular","gateway","cloud"],"tier":"Standard","isCustomApi":false,"description":"SharePoint helps organizations share and collaborate with colleagues, partners, and customers. You can connect to SharePoint Online or to an on-premises SharePoint 2016 or 2019 farm using the On-Premises Data Gateway to manage documents and list items.","createdTime":"2018-08-02T22:20:45.5681417Z","changedTime":"2024-08-23T15:08:14.8176286Z","publisher":"Microsoft"}}},{"displayName":"SharePoint","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","source":"Embedded","connectionReferenceLogicalName":"new_sharedsharepointonline_97209","apiDefinition":{"name":"shared_sharepointonline","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"SharePoint","iconUri":"https://connectoricons-prod.azureedge.net/u/jayawan/releases/v1.0.1697/1.0.1697.3786/sharepointonline/icon.png","purpose":"NotSpecified","connectionParameters":{"token":{"type":"oauthSetting","oAuthSettings":{"identityProvider":"sharepointonlinecertificateV2","clientId":"7ab7862c-4c57-491e-8a45-d52a7e023983","scopes":[],"redirectMode":"GlobalPerConnector","redirectUrl":"https://global.consent.azure-apim.net/redirect/sharepointonline","properties":{"IsFirstParty":"True","IsOnbehalfofLoginSupported":true},"customParameters":{"resourceUriAAD":{"value":"https://graph.microsoft.com/"},"loginUri":{"value":"https://login.windows.net"},"loginUriAAD":{"value":"https://login.windows.net"},"resourceUri":{"value":"https://graph.microsoft.com"}}},"uiDefinition":{"displayName":"Log in with SharePoint Credentials","description":"Log in with SharePoint Credentials","tooltip":"Provide SharePoint Credentials","constraints":{"required":"true","capability":["cloud"]}}},"token:TenantId":{"type":"string","metadata":{"sourceType":"AzureActiveDirectoryTenant"},"uiDefinition":{"displayName":"Tenant","description":"The tenant ID of for the Microsoft Entra ID application","constraints":{"required":"false","hidden":"true"}}},"gateway":{"type":"gatewaySetting","gatewaySettings":{"dataSourceType":"SharePoint","connectionDetails":[]},"uiDefinition":{"tabIndex":1,"constraints":{"hidden":"false","capability":["gateway"]}}},"authType":{"type":"string","allowedValues":[{"value":"windows"}],"uiDefinition":{"displayName":"Authentication Type","description":"Authentication type to connect to your database","tooltip":"Authentication type to connect to your database","constraints":{"tabIndex":2,"required":"false","allowedValues":[{"text":"Windows","value":"windows"}],"capability":["gateway"]}}},"username":{"type":"securestring","uiDefinition":{"displayName":"Username","description":"Username credential","tooltip":"Username credential","constraints":{"tabIndex":3,"clearText":true,"required":"true","capability":["gateway"]}}},"password":{"type":"securestring","uiDefinition":{"displayName":"Password","description":"Password credential","tooltip":"Password credential","constraints":{"tabIndex":4,"required":"true","capability":["gateway"]}}}},"scopes":{"will":["Read list and library names, as well as the names of the columns","Create, read, update, copy and delete files and metadata","Create, read, update, and delete list items"],"wont":[]},"runtimeUrls":["https://unitedstates-002.azure-apim.net/apim/sharepointonline"],"primaryRuntimeUrl":"https://unitedstates-002.azure-apim.net/apim/sharepointonline","metadata":{"source":"marketplace","brandColor":"#036C70","useNewApimVersion":"true","version":{"previous":"u/jayawan/releases/v1.0.1694\\1.0.1694.3753","current":"u/jayawan/releases/v1.0.1697\\1.0.1697.3786"}},"capabilities":["tabular","gateway","cloud"],"tier":"Standard","isCustomApi":false,"description":"SharePoint helps organizations share and collaborate with colleagues, partners, and customers. You can connect to SharePoint Online or to an on-premises SharePoint 2016 or 2019 farm using the On-Premises Data Gateway to manage documents and list items.","createdTime":"2018-08-02T22:20:45.5681417Z","changedTime":"2024-08-23T15:08:14.8176286Z","publisher":"Microsoft"}}},{"displayName":"Office 365 Outlook","id":"/providers/Microsoft.PowerApps/apis/shared_office365","source":"Embedded","connectionReferenceLogicalName":"new_sharedoffice365_5b822","apiDefinition":{"name":"shared_office365","id":"/providers/Microsoft.PowerApps/apis/shared_office365","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"Office 365 Outlook","iconUri":"https://connectoricons-prod.azureedge.net/releases/v1.0.1686/1.0.1686.3706/office365/icon.png","purpose":"NotSpecified","connectionParameters":{"token":{"type":"oauthSetting","oAuthSettings":{"identityProvider":"aadcertificate","clientId":"7ab7862c-4c57-491e-8a45-d52a7e023983","scopes":[],"redirectMode":"GlobalPerConnector","redirectUrl":"https://global.consent.azure-apim.net/redirect/office365","properties":{"IsFirstParty":"True","AzureActiveDirectoryResourceId":"https://graph.microsoft.com","IsOnbehalfofLoginSupported":true},"customParameters":{"resourceUri":{"value":"https://graph.microsoft.com"},"loginUriAAD":{"value":"https://login.windows.net"},"loginUri":{"value":"https://login.windows.net"}}},"uiDefinition":{"displayName":"Log in with Office 365 Credentials","description":"Log in with Office 365 Credentials","tooltip":"Provide Office 365 Credentials","constraints":{"required":"true"}}}},"scopes":{"will":["Read your user profile","Read, update, and delete your mails","Send mail as signed in user (you)","Create, read, update, and delete events","Create, read, update, and delete contacts"],"wont":[]},"runtimeUrls":["https://unitedstates-002.azure-apim.net/apim/office365"],"primaryRuntimeUrl":"https://unitedstates-002.azure-apim.net/apim/office365","metadata":{"source":"marketplace","brandColor":"#0078D4","useNewApimVersion":"true","version":{"previous":"releases/v1.0.1677\\1.0.1677.3637","current":"releases/v1.0.1686\\1.0.1686.3706"}},"capabilities":["actions"],"tier":"Standard","isCustomApi":false,"description":"Microsoft Office 365 is a cloud-based service that is designed to help meet your organization's needs for robust security, reliability, and user productivity.","createdTime":"2018-07-10T17:18:33.233677Z","changedTime":"2024-06-04T16:43:50.492546Z","publisher":"Microsoft"}}},{"displayName":"Office 365 Outlook","id":"/providers/Microsoft.PowerApps/apis/shared_office365","source":"Embedded","connectionReferenceLogicalName":"new_sharedoffice365_78700","apiDefinition":{"name":"shared_office365","id":"/providers/Microsoft.PowerApps/apis/shared_office365","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"Office 365 Outlook","iconUri":"https://connectoricons-prod.azureedge.net/releases/v1.0.1686/1.0.1686.3706/office365/icon.png","purpose":"NotSpecified","connectionParameters":{"token":{"type":"oauthSetting","oAuthSettings":{"identityProvider":"aadcertificate","clientId":"7ab7862c-4c57-491e-8a45-d52a7e023983","scopes":[],"redirectMode":"GlobalPerConnector","redirectUrl":"https://global.consent.azure-apim.net/redirect/office365","properties":{"IsFirstParty":"True","AzureActiveDirectoryResourceId":"https://graph.microsoft.com","IsOnbehalfofLoginSupported":true},"customParameters":{"resourceUri":{"value":"https://graph.microsoft.com"},"loginUriAAD":{"value":"https://login.windows.net"},"loginUri":{"value":"https://login.windows.net"}}},"uiDefinition":{"displayName":"Log in with Office 365 Credentials","description":"Log in with Office 365 Credentials","tooltip":"Provide Office 365 Credentials","constraints":{"required":"true"}}}},"scopes":{"will":["Read your user profile","Read, update, and delete your mails","Send mail as signed in user (you)","Create, read, update, and delete events","Create, read, update, and delete contacts"],"wont":[]},"runtimeUrls":["https://unitedstates-002.azure-apim.net/apim/office365"],"primaryRuntimeUrl":"https://unitedstates-002.azure-apim.net/apim/office365","metadata":{"source":"marketplace","brandColor":"#0078D4","useNewApimVersion":"true","version":{"previous":"releases/v1.0.1677\\1.0.1677.3637","current":"releases/v1.0.1686\\1.0.1686.3706"}},"capabilities":["actions"],"tier":"Standard","isCustomApi":false,"description":"Microsoft Office 365 is a cloud-based service that is designed to help meet your organization's needs for robust security, reliability, and user productivity.","createdTime":"2018-07-10T17:18:33.233677Z","changedTime":"2024-06-04T16:43:50.492546Z","publisher":"Microsoft"}}},{"displayName":"Office 365 Users","id":"/providers/Microsoft.PowerApps/apis/shared_office365users","source":"Embedded","connectionReferenceLogicalName":"new_sharedoffice365users_308ee","apiDefinition":{"name":"shared_office365users","id":"/providers/Microsoft.PowerApps/apis/shared_office365users","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"Office 365 Users","iconUri":"https://connectoricons-prod.azureedge.net/releases/v1.0.1702/1.0.1702.3810/office365users/icon.png","purpose":"NotSpecified","connectionParameters":{"token":{"type":"oauthSetting","oAuthSettings":{"identityProvider":"office365usercertificate","clientId":"7ab7862c-4c57-491e-8a45-d52a7e023983","scopes":[],"redirectMode":"GlobalPerConnector","redirectUrl":"https://global.consent.azure-apim.net/redirect/office365users","properties":{"IsFirstParty":"True","IsOnbehalfofLoginSupported":true},"customParameters":{"resourceUri":{"value":"https://graph.microsoft.com"},"loginUri":{"value":"https://login.windows.net"},"loginUriAAD":{"value":"https://login.windows.net"}}},"uiDefinition":{"displayName":"Log in with Office 365 Credentials","description":"Log in with Office 365 Credentials","tooltip":"Provide Office 365 Credentials","constraints":{"required":"true"}}},"token:TenantId":{"type":"string","metadata":{"sourceType":"AzureActiveDirectoryTenant"},"uiDefinition":{"displayName":"Tenant","description":"The tenant ID of for the Microsoft Entra ID application","constraints":{"required":"false","hidden":"true"}}}},"scopes":{"will":["Read your full user profile","Read the full profile of all users"],"wont":["Modify or delete any user-profile information"]},"runtimeUrls":["https://unitedstates-002.azure-apim.net/apim/office365users"],"primaryRuntimeUrl":"https://unitedstates-002.azure-apim.net/apim/office365users","metadata":{"source":"marketplace","brandColor":"#eb3c00","useNewApimVersion":"true","version":{"previous":"u/jayawan/releases/v1.0.1694\\1.0.1694.3753","current":"releases/v1.0.1702\\1.0.1702.3810"}},"capabilities":["actions"],"tier":"Standard","isCustomApi":false,"description":"Office 365 Users Connection provider lets you access user profiles in your organization using your Office 365 account. You can perform various actions such as get your profile, a user's profile, a user's manager or direct reports and also update a user profile.","createdTime":"2018-07-10T17:18:13.5987777Z","changedTime":"2024-07-31T19:00:37.8219814Z","publisher":"Microsoft"}}},{"displayName":"Microsoft Forms","id":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","source":"Embedded","connectionReferenceLogicalName":"new_sharedmicrosoftforms_b321c","apiDefinition":{"name":"shared_microsoftforms","id":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"Microsoft Forms","iconUri":"https://connectoricons-prod.azureedge.net/releases/v1.0.1686/1.0.1686.3695/microsoftforms/icon.png","purpose":"NotSpecified","connectionParameters":{"token":{"type":"oauthSetting","oAuthSettings":{"identityProvider":"aadcertificate","clientId":"7ab7862c-4c57-491e-8a45-d52a7e023983","scopes":[],"redirectMode":"GlobalPerConnector","redirectUrl":"https://global.consent.azure-apim.net/redirect/microsoftforms","properties":{"IsFirstParty":"True","AzureActiveDirectoryResourceId":"https://forms.office.com","IsOnbehalfofLoginSupported":true},"customParameters":{"resourceUri":{"value":"https://forms.office.com"},"loginUriAAD":{"value":"https://login.windows.net"},"loginUri":{"value":"https://login.windows.net"}}}}},"scopes":{"will":[],"wont":[]},"runtimeUrls":["https://unitedstates-002.azure-apim.net/apim/microsoftforms"],"primaryRuntimeUrl":"https://unitedstates-002.azure-apim.net/apim/microsoftforms","metadata":{"source":"marketplace","brandColor":"#038387","useNewApimVersion":"true","version":{"previous":"releases/v1.0.1665\\1.0.1665.3485","current":"releases/v1.0.1686\\1.0.1686.3695"}},"capabilities":["actions","triggers"],"tier":"Standard","isCustomApi":false,"description":"Microsoft Forms is a new part of Office 365 Education that allows teachers and students to quickly and easily create custom quizzes, surveys, questionnaires, registrations and more.","createdTime":"2018-08-23T19:17:13.2832277Z","changedTime":"2024-08-23T15:08:09.4894552Z","publisher":"Microsoft"}}}],"createdTime":"2022-11-30T20:04:49Z","lastModifiedTime":"2023-05-07T16:52:24Z","flowSuspensionTime":"2024-05-19T17:05:06.9013533Z","flowSuspensionReason":"AllActionsFailingDetected","templateName":"","environment":{"name":"cd87827b-852d-e0f8-9364-a33bba253907","type":"Microsoft.Flow/environments","id":"/providers/Microsoft.Flow/environments/cd87827b-852d-e0f8-9364-a33bba253907"},"definitionSummary":{"triggers":[{"type":"OpenApiConnectionWebhook","swaggerOperationId":"CreateFormWebhook","metadata":{"operationMetadataId":"6978cc73-8afd-40a8-b0ac-658f826743ac"},"api":{"name":"shared_microsoftforms","id":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"Microsoft Forms","iconUri":"https://connectoricons-prod.azureedge.net/releases/v1.0.1686/1.0.1686.3695/microsoftforms/icon.png","metadata":{"source":"marketplace","brandColor":"#038387","useNewApimVersion":"true","version":{"previous":"releases/v1.0.1665\\1.0.1665.3485","current":"releases/v1.0.1686\\1.0.1686.3695"}},"tier":"Standard","isCustomApi":false,"description":"Microsoft Forms is a new part of Office 365 Education that allows teachers and students to quickly and easily create custom quizzes, surveys, questionnaires, registrations and more."}}}],"actions":[{"type":"OpenApiConnection","swaggerOperationId":"GetFormResponseById","metadata":{"operationMetadataId":"aa5a4d8f-9751-4c09-8ed7-1aafb4a85ef6"},"api":{"name":"shared_microsoftforms","id":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"Microsoft Forms","iconUri":"https://connectoricons-prod.azureedge.net/releases/v1.0.1686/1.0.1686.3695/microsoftforms/icon.png","metadata":{"source":"marketplace","brandColor":"#038387","useNewApimVersion":"true","version":{"previous":"releases/v1.0.1665\\1.0.1665.3485","current":"releases/v1.0.1686\\1.0.1686.3695"}},"tier":"Standard","isCustomApi":false,"description":"Microsoft Forms is a new part of Office 365 Education that allows teachers and students to quickly and easily create custom quizzes, surveys, questionnaires, registrations and more."}}},{"type":"ParseJson","metadata":{"operationMetadataId":"b200a940-529b-4f95-9a6e-72c885a4033d"}},{"type":"Foreach","metadata":{"operationMetadataId":"5031bb32-52fe-41d2-ba10-edb4d4d73940"}},{"type":"InitializeVariable","metadata":{"operationMetadataId":"46b00f2d-f983-48cf-8561-14feedb6cb89"}},{"type":"InitializeVariable","metadata":{"operationMetadataId":"56bd7b1b-83f9-42e7-ad06-0b6d7a630c2d"}},{"type":"If","metadata":{"operationMetadataId":"39b2a88c-9e8a-43e6-afa0-a7ac335311ad"}},{"type":"InitializeVariable","metadata":{"operationMetadataId":"8766b607-c748-4103-8eac-f735e7f4afdc"}},{"type":"OpenApiConnection","swaggerOperationId":"UserProfile_V2","metadata":{"operationMetadataId":"13d5bc19-b68e-49f4-8b35-9c76a169d6cd"},"api":{"name":"shared_office365users","id":"/providers/Microsoft.PowerApps/apis/shared_office365users","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"Office 365 Users","iconUri":"https://connectoricons-prod.azureedge.net/releases/v1.0.1702/1.0.1702.3810/office365users/icon.png","metadata":{"source":"marketplace","brandColor":"#eb3c00","useNewApimVersion":"true","version":{"previous":"u/jayawan/releases/v1.0.1694\\1.0.1694.3753","current":"releases/v1.0.1702\\1.0.1702.3810"}},"tier":"Standard","isCustomApi":false,"description":"Office 365 Users Connection provider lets you access user profiles in your organization using your Office 365 account. You can perform various actions such as get your profile, a user's profile, a user's manager or direct reports and also update a user profile."}}},{"type":"OpenApiConnectionWebhook","swaggerOperationId":"StartAndWaitForAnApproval","metadata":{"operationMetadataId":"7b9180c9-7434-4c75-b333-d364bd615401"},"api":{"name":"shared_approvals","id":"/providers/Microsoft.PowerApps/apis/shared_approvals","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"Approvals","iconUri":"https://connectoricons-prod.azureedge.net/u/laborbol/partial-builds/1711/1.0.1711.3876/approvals/icon.png","metadata":{"source":"marketplace","brandColor":"#6464F5","connectionLimits":{"*":1},"useNewApimVersion":"true","version":{"previous":"releases/v1.0.1682\\1.0.1682.3672","current":"u/laborbol/partial-builds/1711\\1.0.1711.3876"}},"tier":"Standard","isCustomApi":false,"description":"Enables approvals in workflows."}}},{"type":"If","metadata":{"operationMetadataId":"87455d36-9542-4220-9e25-ec43441d8a87"}},{"type":"OpenApiConnection","swaggerOperationId":"SendEmailV2","metadata":{"operationMetadataId":"e27c7756-7d9b-4f2e-a885-2a77e5167bb7"},"api":{"name":"shared_office365","id":"/providers/Microsoft.PowerApps/apis/shared_office365","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"Office 365 Outlook","iconUri":"https://connectoricons-prod.azureedge.net/releases/v1.0.1686/1.0.1686.3706/office365/icon.png","metadata":{"source":"marketplace","brandColor":"#0078D4","useNewApimVersion":"true","version":{"previous":"releases/v1.0.1677\\1.0.1677.3637","current":"releases/v1.0.1686\\1.0.1686.3706"}},"tier":"Standard","isCustomApi":false,"description":"Microsoft Office 365 is a cloud-based service that is designed to help meet your organization's needs for robust security, reliability, and user productivity."}}},{"type":"OpenApiConnection","swaggerOperationId":"GetFileContentByPath","metadata":{"operationMetadataId":"da6345f4-4d2b-40f0-ad6f-a4b70b285a00"},"api":{"name":"shared_sharepointonline","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"SharePoint","iconUri":"https://connectoricons-prod.azureedge.net/u/jayawan/releases/v1.0.1697/1.0.1697.3786/sharepointonline/icon.png","metadata":{"source":"marketplace","brandColor":"#036C70","useNewApimVersion":"true","version":{"previous":"u/jayawan/releases/v1.0.1694\\1.0.1694.3753","current":"u/jayawan/releases/v1.0.1697\\1.0.1697.3786"}},"tier":"Standard","isCustomApi":false,"description":"SharePoint helps organizations share and collaborate with colleagues, partners, and customers. You can connect to SharePoint Online or to an on-premises SharePoint 2016 or 2019 farm using the On-Premises Data Gateway to manage documents and list items."}}},{"type":"OpenApiConnection","swaggerOperationId":"CreateFile","metadata":{"operationMetadataId":"4610691f-78c1-422a-b93a-4973f4846d00"},"api":{"name":"shared_sharepointonline","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"SharePoint","iconUri":"https://connectoricons-prod.azureedge.net/u/jayawan/releases/v1.0.1697/1.0.1697.3786/sharepointonline/icon.png","metadata":{"source":"marketplace","brandColor":"#036C70","useNewApimVersion":"true","version":{"previous":"u/jayawan/releases/v1.0.1694\\1.0.1694.3753","current":"u/jayawan/releases/v1.0.1697\\1.0.1697.3786"}},"tier":"Standard","isCustomApi":false,"description":"SharePoint helps organizations share and collaborate with colleagues, partners, and customers. You can connect to SharePoint Online or to an on-premises SharePoint 2016 or 2019 farm using the On-Premises Data Gateway to manage documents and list items."}}},{"type":"OpenApiConnection","swaggerOperationId":"PatchFileItem","metadata":{"operationMetadataId":"c1f4ab1b-1793-4793-be63-a82443d28a01"},"api":{"name":"shared_sharepointonline","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"SharePoint","iconUri":"https://connectoricons-prod.azureedge.net/u/jayawan/releases/v1.0.1697/1.0.1697.3786/sharepointonline/icon.png","metadata":{"source":"marketplace","brandColor":"#036C70","useNewApimVersion":"true","version":{"previous":"u/jayawan/releases/v1.0.1694\\1.0.1694.3753","current":"u/jayawan/releases/v1.0.1697\\1.0.1697.3786"}},"tier":"Standard","isCustomApi":false,"description":"SharePoint helps organizations share and collaborate with colleagues, partners, and customers. You can connect to SharePoint Online or to an on-premises SharePoint 2016 or 2019 farm using the On-Premises Data Gateway to manage documents and list items."}}},{"type":"Select","metadata":{"operationMetadataId":"d8a6669e-28f8-4d83-870a-2213e88704a6"}},{"type":"Select","metadata":{"operationMetadataId":"5a87283f-cf2b-41f5-814d-8353dae8ea01"}},{"type":"OpenApiConnection","swaggerOperationId":"SendEmailV2","metadata":{"operationMetadataId":"424372d4-3fb5-4e79-a537-1b15a158b9d7"},"api":{"name":"shared_office365","id":"/providers/Microsoft.PowerApps/apis/shared_office365","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"Office 365 Outlook","iconUri":"https://connectoricons-prod.azureedge.net/releases/v1.0.1686/1.0.1686.3706/office365/icon.png","metadata":{"source":"marketplace","brandColor":"#0078D4","useNewApimVersion":"true","version":{"previous":"releases/v1.0.1677\\1.0.1677.3637","current":"releases/v1.0.1686\\1.0.1686.3706"}},"tier":"Standard","isCustomApi":false,"description":"Microsoft Office 365 is a cloud-based service that is designed to help meet your organization's needs for robust security, reliability, and user productivity."}}},{"type":"OpenApiConnection","swaggerOperationId":"SendEmailV2","metadata":{"operationMetadataId":"d380bb65-3fd9-449c-9700-f4d220a07dff"},"api":{"name":"shared_office365","id":"/providers/Microsoft.PowerApps/apis/shared_office365","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"Office 365 Outlook","iconUri":"https://connectoricons-prod.azureedge.net/releases/v1.0.1686/1.0.1686.3706/office365/icon.png","metadata":{"source":"marketplace","brandColor":"#0078D4","useNewApimVersion":"true","version":{"previous":"releases/v1.0.1677\\1.0.1677.3637","current":"releases/v1.0.1686\\1.0.1686.3706"}},"tier":"Standard","isCustomApi":false,"description":"Microsoft Office 365 is a cloud-based service that is designed to help meet your organization's needs for robust security, reliability, and user productivity."}}},{"type":"Foreach","metadata":{"operationMetadataId":"d9015d06-6737-4847-b952-63dfca31425b"}},{"type":"OpenApiConnection","swaggerOperationId":"SendEmailV2","metadata":{"operationMetadataId":"01578515-d914-4366-b414-e6ab22d6814d"},"api":{"name":"shared_office365","id":"/providers/Microsoft.PowerApps/apis/shared_office365","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"Office 365 Outlook","iconUri":"https://connectoricons-prod.azureedge.net/releases/v1.0.1686/1.0.1686.3706/office365/icon.png","metadata":{"source":"marketplace","brandColor":"#0078D4","useNewApimVersion":"true","version":{"previous":"releases/v1.0.1677\\1.0.1677.3637","current":"releases/v1.0.1686\\1.0.1686.3706"}},"tier":"Standard","isCustomApi":false,"description":"Microsoft Office 365 is a cloud-based service that is designed to help meet your organization's needs for robust security, reliability, and user productivity."}}}]},"creator":{"tenantId":"cbca83b8-a971-43a8-9ab3-ce2599ff12ea","objectId":"d5bcad3d-e8a2-43a3-bee4-c2871b75843c","userId":"d5bcad3d-e8a2-43a3-bee4-c2871b75843c","userType":"ActiveDirectory"},"provisioningMethod":"FromDefinition","flowFailureAlertSubscribed":true,"workflowEntityId":"56e010c4-5643-ed11-bba2-00224820b96d","workflowUniqueId":"74b00131-8c9f-4e7e-9642-bee447858c1e","referencedResources":[{"service":"sharepoint","resource":{"site":"https://redwoodmaterials1.sharepoint.com/sites/WorkFlowAutomation"},"referencers":[{"referenceSourceType":"Actions","operationId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/apiOperations/GetFileContentByPath"},{"referenceSourceType":"Triggers","operationId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/apiOperations/GetFileContentByPath"}]},{"service":"sharepoint","resource":{"site":"https://redwoodmaterials1.sharepoint.com/sites/Documents"},"referencers":[{"referenceSourceType":"Actions","operationId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/apiOperations/CreateFile"},{"referenceSourceType":"Triggers","operationId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/apiOperations/CreateFile"}]},{"service":"sharepoint","resource":{"site":"https://redwoodmaterials1.sharepoint.com/sites/Documents","list":"dc949db8-5518-4eb6-9ac7-3d3f62ad17ae"},"referencers":[{"referenceSourceType":"Actions","operationId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/apiOperations/PatchFileItem"},{"referenceSourceType":"Triggers","operationId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/apiOperations/PatchFileItem"}]}],"isManaged":true,"componentState":"Published","isCustomizable":{"value":true,"canBeChanged":true,"managedPropertyLogicalName":"iscustomizableanddeletable"},"resourceId":"b69fef43-ab47-f2ae-6dea-30552c4d14d1","machineDescriptionData":{},"flowOpenAiData":{"isConsequential":false,"isConsequentialFlagOverwritten":false}}}