_Prod - Send Actionable Approver Email_config.json
{"name":"ef9e3343-5dfd-4374-9bc6-5b4635b9dbcc","id":"/providers/Microsoft.Flow/environments/cd87827b-852d-e0f8-9364-a33bba253907/flows/ef9e3343-5dfd-4374-9bc6-5b4635b9dbcc","type":"Microsoft.Flow/environments/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"_Prod - Send Actionable Approver Email","userType":"Owner","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"splitOn":"@triggerBody()['rows']","metadata":{"operationMetadataId":"21aca541-7428-4131-9a4e-666e2cf86db6"},"type":"Request","kind":"ApiConnection","inputs":{"schema":{"type":"object","properties":{"rows":{"type":"array","items":{"type":"object","properties":{"text":{"title":"What was updated in this revision?","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"entity":{"type":"object","properties":{"ID":{"title":"ID","type":"integer","format":"int64"}},"required":["ID"]}},"required":["text","entity"]}}},"required":["rows"]},"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"}},"operationId":"ForASelectedFileHybridTrigger","parameters":{"dataset":"https://redwoodmaterials1.sharepoint.com/sites/Documents","table":"dc949db8-5518-4eb6-9ac7-3d3f62ad17ae"},"headersSchema":{"x-ms-user-email-encoded":{"title":"User email","type":"string","format":"byte","x-ms-dynamically-added":false}}}}},"actions":{"Adaptive_Card_JSON_Payload":{"runAfter":{"Append_Action_Container_to_Column_Collection":["Succeeded"]},"metadata":{"operationMetadataId":"768ee1e7-ba78-49e6-8059-97ad1efd1b1b"},"type":"Compose","inputs":{"type":"AdaptiveCard","version":"1.0","hideOriginalBody":true,"originator":"e318fb4d-25b4-44e7-9048-a3f8183abe44","body":[{"type":"Container","id":"34eadec9-ac74-5c77-3e62-875a8b9c5f3c","padding":"Small","items":[{"type":"ColumnSet","id":"fedae9ca-c2d5-5dd2-4a59-176681872822","columns":[{"type":"Column","id":"e6d9a897-f9e4-067b-52da-c9900c83e886","padding":"None","width":"auto","items":[{"type":"Image","id":"0f1bd522-ef75-3f9f-14c4-4ef9e234721f","url":"https://rwfilehosting.blob.core.windows.net/redwoodbranding/97651-infinity-logo.png","size":"Small","altText":"Contoso Group Avatar"}]},{"type":"Column","id":"b48b0ab2-4c13-5b59-88eb-2fc97c943d39","padding":"None","width":"stretch","items":[{"type":"TextBlock","id":"2d13ea41-2866-7130-44de-4a18d3093cf7","text":"Redwood Materials New Document Request: **@{variables('varfileName')}**","wrap":true}],"verticalContentAlignment":"Center"}],"padding":"None"}],"spacing":"None","style":"emphasis"},{"type":"Container","id":"0bdaded9-7b2d-fb8b-c298-ac819fd31288","padding":"Default","spacing":"None","items":[{"type":"TextBlock","id":"50c52578-8e51-1512-aeb1-5a714e8b460b","text":"Please choose the approvers for the document","wrap":true,"size":"Large","weight":"Bolder"}],"separator":true},{"type":"Container","id":"47295af6-a6b8-fd4f-f90f-018d01f8e130","padding":"Default","spacing":"None","items":"@variables('varAdaptiveCardColumnCollection')","separator":true}],"padding":"None","$schema":"http://adaptivecards.io/schemas/adaptive-card.json"},"description":"Working Originator GUID: 75d3ef0c-d871-4e0c-8799-4d7c10284ac2"},"Get_Approvers_from_Approvers_list":{"runAfter":{"Apply_to_each_Affected_Teams":["Succeeded"]},"metadata":{"operationMetadataId":"895fcec0-263b-4d3b-8d78-edbbce466155"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://redwoodmaterials1.sharepoint.com/sites/Documents","table":"c5fb1e92-e6bb-4397-a5cf-806da21aa6b8","$filter":"@variables('varFilterQuery')","view":"04ab1ca9-07b2-450b-b47c-3541eff34f85"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_Affected_Teams":{"foreach":"@variables('varAffectedTeams')","actions":{"Condition":{"actions":{"Append_to_string_variable":{"runAfter":{},"metadata":{"operationMetadataId":"3be59915-b1ae-47df-a769-49997dd7e8a8"},"type":"AppendToStringVariable","inputs":{"name":"varFilterQuery","value":"Affected_x0020_Teams eq '@{items('Apply_to_each_Affected_Teams')}'"}},"Increment_varFilterQueryIterator":{"runAfter":{"Append_to_string_variable":["Succeeded"]},"metadata":{"operationMetadataId":"37cb296a-c905-467c-b1b6-f6f841e600bb"},"type":"IncrementVariable","inputs":{"name":"varFilterQueryIterator","value":1}}},"runAfter":{},"else":{"actions":{"Append_query_string_to_varFilterQuery":{"runAfter":{},"metadata":{"operationMetadataId":"f6c827a4-cb66-434e-90ed-9e69e9bd3114"},"type":"AppendToStringVariable","inputs":{"name":"varFilterQuery","value":" or Affected_x0020_Teams eq '@{items('Apply_to_each_Affected_Teams')}'"}}}},"expression":{"equals":["@variables('varFilterQueryIterator')",0]},"metadata":{"operationMetadataId":"7f0f1a1a-3762-41e4-9045-8e3a522abdff"},"type":"If"}},"runAfter":{"varFilterQueryIterator":["Succeeded"]},"metadata":{"operationMetadataId":"84776e67-a1f9-4aeb-ac05-26889e084386"},"type":"Foreach","description":"Iterating over each affected team to build SharePoint OData Query. If varFilterQueryIterator is equal to 0 then this starts the beginning of the query ex. 'Property1 eq Value' subsequent query additions append 'or Property eq Value'"},"varFilterQuery":{"runAfter":{"Apply_to_each_affected_team_from_SP_list":["Succeeded"]},"metadata":{"operationMetadataId":"d55ad147-352c-4816-a961-5e044d197dd2"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varFilterQuery","type":"string"}]}},"varFilterQueryIterator":{"runAfter":{"varFilterQuery":["Succeeded"]},"metadata":{"operationMetadataId":"b0c2bdfb-e34b-45a4-8964-98b4ab30cc96"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varFilterQueryIterator","type":"integer","value":0}]}},"Apply_to_each_Approver_List_Returned":{"foreach":"@outputs('Get_Approvers_from_Approvers_list')?['body/value']","actions":{"Apply_to_each_approver_in_affected_teams":{"foreach":"@item()?['Approvers']","actions":{"Get_user_profile_(V2)":{"runAfter":{},"metadata":{"operationMetadataId":"857c3641-b9d6-4067-a953-aca84b712e85"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"UserProfile_V2"},"parameters":{"id":"@item()?['Email']","$select":"Id, DisplayName"},"authentication":"@parameters('$authentication')"}},"If_user_ID_is_found":{"actions":{"Set_varBuildAdaptiveCardColumns_to_null":{"runAfter":{},"metadata":{"operationMetadataId":"3e900898-50ad-49f2-ab0c-3f96a352090c"},"type":"SetVariable","inputs":{"name":"varBuildAdaptiveCardColumns","value":"@null"}},"Append_to_varApproverHTTPBodyCollection":{"runAfter":{"Set_varUserEmail_to_current_email_in_iteration":["Succeeded"]},"metadata":{"operationMetadataId":"934e564c-8ee3-4738-bfe4-562b470bf7ee"},"type":"AppendToArrayVariable","inputs":{"name":"varApproverHTTPBodyCollection","value":{"userid":"@outputs('Get_user_profile_(V2)')?['body/id']","selected":"@concat('{{',concat(replace(item()?['DisplayName'],' ',''),concat('.value','}}')))","email":"@items('Apply_to_each_approver_in_affected_teams')?['Email']","displayName":"@outputs('Get_user_profile_(V2)')?['body/displayName']"}},"description":"concat('{{',concat(replace(item()?['DisplayName'],' ',''),concat('.value','}}')))"},"Construct_Checkbox_Column":{"runAfter":{"Append_to_varApproverHTTPBodyCollection":["Succeeded"]},"metadata":{"operationMetadataId":"f931ccfb-9d1b-42a1-9a1f-fd40e12a9d39"},"type":"Compose","inputs":{"type":"Column","id":"@{guid()}","padding":{"top":"Small","bottom":"None","left":"None","right":"None"},"width":"auto","items":[{"type":"Input.Toggle","id":"@{replace(item()?['DisplayName'],' ','')}","title":" ","value":"false","default":"false","wrap":false}],"spacing":"None"},"description":"replace(item()?['DisplayName'],' ','')"},"Append_New_Checkbox_to_Array":{"runAfter":{"Construct_Checkbox_Column":["Succeeded"]},"metadata":{"operationMetadataId":"cb3a3c2e-5aaf-42f9-bfca-d6e037b21dc3"},"type":"AppendToArrayVariable","inputs":{"name":"varBuildAdaptiveCardColumns","value":"@outputs('Construct_Checkbox_Column')"}},"Get_user_photo_(V2)":{"runAfter":{"Append_New_Checkbox_to_Array":["Succeeded"]},"metadata":{"operationMetadataId":"d02ebf7d-e3ab-49c5-8592-6483d50540ba"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"UserPhoto_V2"},"parameters":{"id":"@item()?['Email']"},"authentication":"@parameters('$authentication')"}},"If_user_photo_is_not_empty":{"actions":{"Construct_Base64_image_string":{"runAfter":{},"metadata":{"operationMetadataId":"b260c9bf-08d1-4c54-b7bb-f5f9938b0a46"},"type":"Compose","inputs":"data:image/png;base64, @{base64(outputs('Get_user_photo_(V2)')?['body'])}"},"Set_varImageUrl":{"runAfter":{"Construct_Base64_image_string":["Succeeded"]},"metadata":{"operationMetadataId":"5df4eb50-a350-4ae6-b6f3-8998a8413aad"},"type":"SetVariable","inputs":{"name":"varUserImageURL","value":"@{outputs('Construct_Base64_image_string')}"}}},"runAfter":{"Get_user_photo_(V2)":["Succeeded"]},"else":{"actions":{"Get_file_content_using_path":{"runAfter":{},"metadata":{"operationMetadataId":"a3147b3f-984d-4e9f-8d34-ce38f1589486"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContentByPath"},"parameters":{"dataset":"https://redwoodmaterials1.sharepoint.com/sites/WorkFlowAutomation","path":"/Shared Documents/Deployed Solutions/Document Management/RedwoodLogo.png","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Set_varUserImageUrl_to_Redwood_Logo":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"4e42cce8-dbcf-44c1-9d37-d06ebeeea0bf"},"type":"SetVariable","inputs":{"name":"varUserImageURL","value":"     @{outputs('Compose')}"}},"Compose":{"runAfter":{"Get_file_content_using_path":["Succeeded"]},"metadata":{"operationMetadataId":"61ed995d-efaf-4468-a320-ae87060a7cb6"},"type":"Compose","inputs":"data:image/png;base64, @{base64(outputs('Get_file_content_using_path')?['body'])}"}}},"expression":{"equals":["@empty(outputs('Get_user_photo_(V2)')?['body'])","@false"]},"metadata":{"operationMetadataId":"35e6ece0-527a-4269-9876-850a611f9570"},"type":"If"},"Construct_Image_Column":{"runAfter":{"If_user_photo_is_not_empty":["Succeeded"]},"metadata":{"operationMetadataId":"a52b950a-9230-46ca-9557-a073a8ad101d"},"type":"Compose","inputs":{"type":"Column","id":"@{guid()}","padding":"None","width":"auto","spacing":"None","items":[{"type":"Image","id":"@{guid()}","url":"@variables('varUserImageURL')","spacing":"None","size":"Small","style":"Person","altText":"@{items('Apply_to_each_approver_in_affected_teams')?['DisplayName']} Avatar"}]}},"Append_Image_Column_to_Array":{"runAfter":{"Construct_Image_Column":["Succeeded"]},"metadata":{"operationMetadataId":"55f794fc-477f-4850-be17-e03bb071532c"},"type":"AppendToArrayVariable","inputs":{"name":"varBuildAdaptiveCardColumns","value":"@outputs('Construct_Image_Column')"}},"Construct_Details_Column":{"runAfter":{"Append_Image_Column_to_Array":["Succeeded"]},"metadata":{"operationMetadataId":"6b13bfac-80e5-4818-ba63-e67ae3de1276"},"type":"Compose","inputs":{"type":"Column","id":"@{guid()}","padding":"None","width":"stretch","spacing":"Small","items":[{"type":"TextBlock","id":"@{guid()}","wrap":true,"text":"@{items('Apply_to_each_approver_in_affected_teams')?['DisplayName']}"},{"type":"TextBlock","id":"@{guid()}","wrap":true,"spacing":"None","size":"Small","color":"Light","text":"@{items('Apply_to_each_approver_in_affected_teams')?['JobTitle']}"},{"type":"TextBlock","id":"@{guid()}","wrap":true,"size":"Small","color":"Light","spacing":"None","text":"@{items('Apply_to_each_approver_in_affected_teams')?['Department']}"}]}},"Append_User_Details_Column_to_Array":{"runAfter":{"Construct_Details_Column":["Succeeded"]},"metadata":{"operationMetadataId":"26ef2564-5733-4451-96a6-f13ef00f540f"},"type":"AppendToArrayVariable","inputs":{"name":"varBuildAdaptiveCardColumns","value":"@outputs('Construct_Details_Column')"}},"Create_New_Column_Set_for_User":{"runAfter":{"Append_User_Details_Column_to_Array":["Succeeded"]},"metadata":{"operationMetadataId":"89c5ab78-29c6-4580-a600-c3fdb30967a3"},"type":"Compose","inputs":{"type":"ColumnSet","id":"@{guid()}","columns":"@variables('varBuildAdaptiveCardColumns')","padding":"None"}},"Append_to_varAdaptiveCardColumnCollection":{"runAfter":{"Create_New_Column_Set_for_User":["Succeeded"]},"metadata":{"operationMetadataId":"8d0a4bf6-98a2-43c7-b25e-6d963ce77de9"},"type":"AppendToArrayVariable","inputs":{"name":"varAdaptiveCardColumnCollection","value":"@outputs('Create_New_Column_Set_for_User')"}},"Set_varUserEmail_to_current_email_in_iteration":{"runAfter":{"Set_varBuildAdaptiveCardColumns_to_null":["Succeeded"]},"metadata":{"operationMetadataId":"7191a7ce-9a1a-4f77-a543-3b2ccefd7c82"},"type":"SetVariable","inputs":{"name":"varUserEmail","value":"@{item()?['Email']}"}}},"runAfter":{"Get_user_profile_(V2)":["Succeeded","Failed"]},"expression":{"not":{"equals":["@empty(outputs('Get_user_profile_(V2)')?['body/id'])","@true"]}},"metadata":{"operationMetadataId":"746af3e0-d722-4bf0-a280-a53fed6f8c90"},"type":"If"}},"runAfter":{},"metadata":{"operationMetadataId":"a5a00554-7b92-47d8-b84f-4111326af2c0"},"type":"Foreach"}},"runAfter":{"Prepend_Card_Title_to_Column_Collection":["Succeeded"]},"metadata":{"operationMetadataId":"8dae8a29-34f4-4c90-96af-db5a50563a9b"},"type":"Foreach"},"Append_Action_Container_to_Column_Collection":{"runAfter":{"Join":["Succeeded"]},"metadata":{"operationMetadataId":"b24a66b4-1218-47bb-b176-70526be9c5ea"},"type":"AppendToArrayVariable","inputs":{"name":"varAdaptiveCardColumnCollection","value":{"type":"Container","id":"@{guid()}","padding":"None","items":[{"type":"TextBlock","id":"@{guid()}","text":"Please add additional approvers","wrap":true},{"type":"Input.Text","id":"additionalApprovers","placeholder":"email@redwoodmaterials.com;email2@redwoodmaterials.com"},{"type":"ActionSet","id":"@{guid()}","actions":[{"type":"Action.Http","id":"@{guid()}","title":"Approve Selected","method":"POST","url":"https://prod-160.westus.logic.azure.com:443/workflows/4c65a8025c1d4a8080b89d79a3a65401/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=8GB3bFFTY4F8Ee0xJ2El-Le46MMxzapre1RP_Zx4vYM","body":"@{variables('varApproverHTTPBodyCollection')}","headers":[{"name":"Authorization","value":""},{"name":"content-type","value":"application/json"}],"isPrimary":true,"style":"positive"},{"type":"Action.Http","id":"@{guid()}","title":"Cancel","method":"POST","url":"https://prod-160.westus.logic.azure.com:443/workflows/4c65a8025c1d4a8080b89d79a3a65401/triggers/manual/paths/invoke?api-version=2016-06-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=8GB3bFFTY4F8Ee0xJ2El-Le46MMxzapre1RP_Zx4vYM","body":"","headers":[{"name":"Authorization","value":""},{"name":"content-type","value":"application/json"}]}]}]}}},"varAffectedTeams":{"runAfter":{"varfileName":["Succeeded"]},"metadata":{"operationMetadataId":"dc8d40bd-bdfa-4e7f-b628-2a4e26b1f97c"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varAffectedTeams","type":"array"}]}},"varfileName":{"runAfter":{"Get_file_properties":["Succeeded"]},"metadata":{"operationMetadataId":"bbbcd087-22d6-4b28-aad2-5bf528bad4f4"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varfileName","type":"string","value":"@outputs('Get_file_properties')?['body/Title']"}]}},"Prepend_Card_Title_to_Column_Collection":{"runAfter":{"Append_to_Submitter_Email_to_HTTP_Body_Collection":["Succeeded"]},"metadata":{"operationMetadataId":"7ff830be-bc68-4616-a4ad-a4ecbfa1d6c7"},"type":"AppendToArrayVariable","inputs":{"name":"varAdaptiveCardColumnCollection","value":{"type":"TextBlock","id":"3f5e8bb4-217c-ab02-0c24-097aa57151eb","text":"Select the appropriate approvers","wrap":true,"spacing":"None","size":"Small"}}},"varAdaptiveCardColumnCollection":{"runAfter":{"varApproverHTTPBodyCollection":["Succeeded"]},"metadata":{"operationMetadataId":"5940fea6-6d0c-4a02-8631-03f7c875d147"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varAdaptiveCardColumnCollection","type":"array"}]}},"varApproverHTTPBodyCollection":{"runAfter":{"varUserImageURL":["Succeeded"]},"metadata":{"operationMetadataId":"23dc1d47-6d07-4867-bba6-d1a466b1dd0a"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varApproverHTTPBodyCollection","type":"array"}]}},"varUserImageURL":{"runAfter":{"varBuildAdaptiveCardColumns":["Succeeded"]},"metadata":{"operationMetadataId":"6f495b91-34c4-43ec-bdb2-abd0d73c9946"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varUserImageURL","type":"string"}]}},"varBuildAdaptiveCardColumns":{"runAfter":{"varUserEmail":["Succeeded"]},"metadata":{"operationMetadataId":"9e733548-f1ad-419f-a704-21c571b07baa"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varBuildAdaptiveCardColumns","type":"array"}]}},"Join":{"runAfter":{"Apply_to_each_Approver_List_Returned":["Succeeded"]},"metadata":{"operationMetadataId":"0d9f4b88-975a-4b6e-919d-b2cfd60bd5e0"},"type":"Join","inputs":{"from":"@variables('varApproverHTTPBodyCollection')","joinWith":","}},"varUserEmail":{"runAfter":{"Get_Approvers_from_Approvers_list":["Succeeded"]},"metadata":{"operationMetadataId":"b129500f-e073-44b2-9507-187deaf23202"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varUserEmail","type":"string"}]}},"Get_file_properties":{"runAfter":{},"metadata":{"operationMetadataId":"8ee166f9-e78a-4d8d-879e-b9a637d04739"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileItem"},"parameters":{"dataset":"https://redwoodmaterials1.sharepoint.com/sites/Documents","table":"dc949db8-5518-4eb6-9ac7-3d3f62ad17ae","id":"@triggerBody()?['entity']?['ID']"},"authentication":"@parameters('$authentication')"}},"Append_Additional_Approvers_to_HTTP_Body_Collection":{"runAfter":{"Append_Affected_Teams_Filter_Query_to_Body_Collection":["Succeeded"]},"metadata":{"operationMetadataId":"07598a33-8259-4ec8-ab5a-5301dfcb199c"},"type":"AppendToArrayVariable","inputs":{"name":"varApproverHTTPBodyCollection","value":{"additionalApprovers":"{{additionalApprovers.value}}","ActionableEmailSubmitter":"@triggerOutputs()['headers']['x-ms-user-email']"}},"description":"triggerOutputs()['headers']['x-ms-user-email']"},"Append_to_Submitter_Email_to_HTTP_Body_Collection":{"runAfter":{"Append_file_details_to_HTTP_Body_Collection":["Succeeded"]},"metadata":{"operationMetadataId":"95a139bd-8e4f-4fae-a9b9-2381fce2f398"},"type":"AppendToArrayVariable","inputs":{"name":"varApproverHTTPBodyCollection","value":{"submitter":""}}},"Append_file_details_to_HTTP_Body_Collection":{"runAfter":{"Append_Additional_Approvers_to_HTTP_Body_Collection":["Succeeded"]},"metadata":{"operationMetadataId":"868061b5-9700-4cd1-948a-a8cce740373c"},"type":"AppendToArrayVariable","inputs":{"name":"varApproverHTTPBodyCollection","value":{"fileName":"@{variables('varfileName')}","fileLink":"@{outputs('Get_file_properties')?['body/{Link}']}","fileSharePointFileListId":"@{outputs('Get_file_properties')?['body/ID']}","fileModifications":"@triggerBody()['text']"}}},"Apply_to_each_affected_team_from_SP_list":{"foreach":"@outputs('Get_file_properties')?['body/Affected_x0020_Teams']","actions":{"Append_to_array_variable":{"runAfter":{},"metadata":{"operationMetadataId":"fd1e0eef-e762-4406-95b5-ba3ddb333441"},"type":"AppendToArrayVariable","inputs":{"name":"varAffectedTeams","value":"@items('Apply_to_each_affected_team_from_SP_list')?['Value']"}}},"runAfter":{"varAffectedTeams":["Succeeded"]},"metadata":{"operationMetadataId":"eb462fe7-97ca-4cb2-bdac-a51c870a7c6d"},"type":"Foreach"},"Append_Affected_Teams_Filter_Query_to_Body_Collection":{"runAfter":{"varAdaptiveCardColumnCollection":["Succeeded"]},"metadata":{"operationMetadataId":"32ff72bd-51ca-4d8d-973a-9849123a0369"},"type":"AppendToArrayVariable","inputs":{"name":"varApproverHTTPBodyCollection","value":{"AffectedTeamsQuery":"@variables('varFilterQuery')"}}},"Send_an_email_(V2)_2":{"runAfter":{"Adaptive_Card_JSON_Payload":["Succeeded"]},"metadata":{"operationMetadataId":"47e47fb4-61e7-4c68-853d-7669b3d290d0"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"documents@redwoodmaterials.com","emailMessage/Subject":"Approver Selection Required: @{outputs('Get_file_properties')?['body/Title']}","emailMessage/Body":"<html>\n<head>\n  <meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\">\n  <script type=\"application/adaptivecard+json\">\n@{outputs('Adaptive_Card_JSON_Payload')}\n  </script>\n</head>\n<body>\n</body>\n</html>","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}}},"triggerSchema":{"type":"object","properties":{"rows":{"type":"array","items":{"type":"object","properties":{"text":{"title":"What was updated in this revision?","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"entity":{"type":"object","properties":{"ID":{"title":"ID","type":"integer","format":"int64"}},"required":["ID"]}},"required":["text","entity"]}}},"required":["rows"]},"state":"Stopped","sharingType":"CommonDataService","connectionReferences":[{"displayName":"SharePoint","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","source":"Embedded","apiDefinition":{"name":"shared_sharepointonline","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"SharePoint","iconUri":"https://connectoricons-prod.azureedge.net/u/jayawan/releases/v1.0.1697/1.0.1697.3786/sharepointonline/icon.png","purpose":"NotSpecified","connectionParameters":{"token":{"type":"oauthSetting","oAuthSettings":{"identityProvider":"sharepointonlinecertificateV2","clientId":"7ab7862c-4c57-491e-8a45-d52a7e023983","scopes":[],"redirectMode":"GlobalPerConnector","redirectUrl":"https://global.consent.azure-apim.net/redirect/sharepointonline","properties":{"IsFirstParty":"True","IsOnbehalfofLoginSupported":true},"customParameters":{"resourceUriAAD":{"value":"https://graph.microsoft.com/"},"loginUri":{"value":"https://login.windows.net"},"loginUriAAD":{"value":"https://login.windows.net"},"resourceUri":{"value":"https://graph.microsoft.com"}}},"uiDefinition":{"displayName":"Log in with SharePoint Credentials","description":"Log in with SharePoint Credentials","tooltip":"Provide SharePoint Credentials","constraints":{"required":"true","capability":["cloud"]}}},"token:TenantId":{"type":"string","metadata":{"sourceType":"AzureActiveDirectoryTenant"},"uiDefinition":{"displayName":"Tenant","description":"The tenant ID of for the Microsoft Entra ID application","constraints":{"required":"false","hidden":"true"}}},"gateway":{"type":"gatewaySetting","gatewaySettings":{"dataSourceType":"SharePoint","connectionDetails":[]},"uiDefinition":{"tabIndex":1,"constraints":{"hidden":"false","capability":["gateway"]}}},"authType":{"type":"string","allowedValues":[{"value":"windows"}],"uiDefinition":{"displayName":"Authentication Type","description":"Authentication type to connect to your database","tooltip":"Authentication type to connect to your database","constraints":{"tabIndex":2,"required":"false","allowedValues":[{"text":"Windows","value":"windows"}],"capability":["gateway"]}}},"username":{"type":"securestring","uiDefinition":{"displayName":"Username","description":"Username credential","tooltip":"Username credential","constraints":{"tabIndex":3,"clearText":true,"required":"true","capability":["gateway"]}}},"password":{"type":"securestring","uiDefinition":{"displayName":"Password","description":"Password credential","tooltip":"Password credential","constraints":{"tabIndex":4,"required":"true","capability":["gateway"]}}}},"scopes":{"will":["Read list and library names, as well as the names of the columns","Create, read, update, copy and delete files and metadata","Create, read, update, and delete list items"],"wont":[]},"runtimeUrls":["https://unitedstates-002.azure-apim.net/apim/sharepointonline"],"primaryRuntimeUrl":"https://unitedstates-002.azure-apim.net/apim/sharepointonline","metadata":{"source":"marketplace","brandColor":"#036C70","useNewApimVersion":"true","version":{"previous":"u/jayawan/releases/v1.0.1694\\1.0.1694.3753","current":"u/jayawan/releases/v1.0.1697\\1.0.1697.3786"}},"capabilities":["tabular","gateway","cloud"],"tier":"Standard","isCustomApi":false,"description":"SharePoint helps organizations share and collaborate with colleagues, partners, and customers. You can connect to SharePoint Online or to an on-premises SharePoint 2016 or 2019 farm using the On-Premises Data Gateway to manage documents and list items.","createdTime":"2018-08-02T22:20:45.5681417Z","changedTime":"2024-08-23T15:08:14.8176286Z","publisher":"Microsoft"}}},{"displayName":"Office 365 Users","id":"/providers/Microsoft.PowerApps/apis/shared_office365users","source":"Embedded","apiDefinition":{"name":"shared_office365users","id":"/providers/Microsoft.PowerApps/apis/shared_office365users","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"Office 365 Users","iconUri":"https://connectoricons-prod.azureedge.net/releases/v1.0.1702/1.0.1702.3810/office365users/icon.png","purpose":"NotSpecified","connectionParameters":{"token":{"type":"oauthSetting","oAuthSettings":{"identityProvider":"office365usercertificate","clientId":"7ab7862c-4c57-491e-8a45-d52a7e023983","scopes":[],"redirectMode":"GlobalPerConnector","redirectUrl":"https://global.consent.azure-apim.net/redirect/office365users","properties":{"IsFirstParty":"True","IsOnbehalfofLoginSupported":true},"customParameters":{"resourceUri":{"value":"https://graph.microsoft.com"},"loginUri":{"value":"https://login.windows.net"},"loginUriAAD":{"value":"https://login.windows.net"}}},"uiDefinition":{"displayName":"Log in with Office 365 Credentials","description":"Log in with Office 365 Credentials","tooltip":"Provide Office 365 Credentials","constraints":{"required":"true"}}},"token:TenantId":{"type":"string","metadata":{"sourceType":"AzureActiveDirectoryTenant"},"uiDefinition":{"displayName":"Tenant","description":"The tenant ID of for the Microsoft Entra ID application","constraints":{"required":"false","hidden":"true"}}}},"scopes":{"will":["Read your full user profile","Read the full profile of all users"],"wont":["Modify or delete any user-profile information"]},"runtimeUrls":["https://unitedstates-002.azure-apim.net/apim/office365users"],"primaryRuntimeUrl":"https://unitedstates-002.azure-apim.net/apim/office365users","metadata":{"source":"marketplace","brandColor":"#eb3c00","useNewApimVersion":"true","version":{"previous":"u/jayawan/releases/v1.0.1694\\1.0.1694.3753","current":"releases/v1.0.1702\\1.0.1702.3810"}},"capabilities":["actions"],"tier":"Standard","isCustomApi":false,"description":"Office 365 Users Connection provider lets you access user profiles in your organization using your Office 365 account. You can perform various actions such as get your profile, a user's profile, a user's manager or direct reports and also update a user profile.","createdTime":"2018-07-10T17:18:13.5987777Z","changedTime":"2024-07-31T19:00:37.8219814Z","publisher":"Microsoft"}}},{"displayName":"Office 365 Outlook","id":"/providers/Microsoft.PowerApps/apis/shared_office365","source":"Embedded","apiDefinition":{"name":"shared_office365","id":"/providers/Microsoft.PowerApps/apis/shared_office365","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"Office 365 Outlook","iconUri":"https://connectoricons-prod.azureedge.net/releases/v1.0.1686/1.0.1686.3706/office365/icon.png","purpose":"NotSpecified","connectionParameters":{"token":{"type":"oauthSetting","oAuthSettings":{"identityProvider":"aadcertificate","clientId":"7ab7862c-4c57-491e-8a45-d52a7e023983","scopes":[],"redirectMode":"GlobalPerConnector","redirectUrl":"https://global.consent.azure-apim.net/redirect/office365","properties":{"IsFirstParty":"True","AzureActiveDirectoryResourceId":"https://graph.microsoft.com","IsOnbehalfofLoginSupported":true},"customParameters":{"resourceUri":{"value":"https://graph.microsoft.com"},"loginUriAAD":{"value":"https://login.windows.net"},"loginUri":{"value":"https://login.windows.net"}}},"uiDefinition":{"displayName":"Log in with Office 365 Credentials","description":"Log in with Office 365 Credentials","tooltip":"Provide Office 365 Credentials","constraints":{"required":"true"}}}},"scopes":{"will":["Read your user profile","Read, update, and delete your mails","Send mail as signed in user (you)","Create, read, update, and delete events","Create, read, update, and delete contacts"],"wont":[]},"runtimeUrls":["https://unitedstates-002.azure-apim.net/apim/office365"],"primaryRuntimeUrl":"https://unitedstates-002.azure-apim.net/apim/office365","metadata":{"source":"marketplace","brandColor":"#0078D4","useNewApimVersion":"true","version":{"previous":"releases/v1.0.1677\\1.0.1677.3637","current":"releases/v1.0.1686\\1.0.1686.3706"}},"capabilities":["actions"],"tier":"Standard","isCustomApi":false,"description":"Microsoft Office 365 is a cloud-based service that is designed to help meet your organization's needs for robust security, reliability, and user productivity.","createdTime":"2018-07-10T17:18:33.233677Z","changedTime":"2024-06-04T16:43:50.492546Z","publisher":"Microsoft"}}}],"createdTime":"2022-11-30T20:04:49Z","lastModifiedTime":"2022-11-30T20:04:49Z","flowSuspensionReason":"None","environment":{"name":"cd87827b-852d-e0f8-9364-a33bba253907","type":"Microsoft.Flow/environments","id":"/providers/Microsoft.Flow/environments/cd87827b-852d-e0f8-9364-a33bba253907"},"definitionSummary":{"triggers":[{"type":"Request","kind":"ApiConnection","metadata":{"operationMetadataId":"21aca541-7428-4131-9a4e-666e2cf86db6"},"api":{"name":"shared_sharepointonline","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"SharePoint","iconUri":"https://connectoricons-prod.azureedge.net/u/jayawan/releases/v1.0.1697/1.0.1697.3786/sharepointonline/icon.png","metadata":{"source":"marketplace","brandColor":"#036C70","useNewApimVersion":"true","version":{"previous":"u/jayawan/releases/v1.0.1694\\1.0.1694.3753","current":"u/jayawan/releases/v1.0.1697\\1.0.1697.3786"}},"tier":"Standard","isCustomApi":false,"description":"SharePoint helps organizations share and collaborate with colleagues, partners, and customers. You can connect to SharePoint Online or to an on-premises SharePoint 2016 or 2019 farm using the On-Premises Data Gateway to manage documents and list items."}}}],"actions":[{"type":"Compose","metadata":{"operationMetadataId":"768ee1e7-ba78-49e6-8059-97ad1efd1b1b"}},{"type":"OpenApiConnection","swaggerOperationId":"GetItems","metadata":{"operationMetadataId":"895fcec0-263b-4d3b-8d78-edbbce466155"},"api":{"name":"shared_sharepointonline","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"SharePoint","iconUri":"https://connectoricons-prod.azureedge.net/u/jayawan/releases/v1.0.1697/1.0.1697.3786/sharepointonline/icon.png","metadata":{"source":"marketplace","brandColor":"#036C70","useNewApimVersion":"true","version":{"previous":"u/jayawan/releases/v1.0.1694\\1.0.1694.3753","current":"u/jayawan/releases/v1.0.1697\\1.0.1697.3786"}},"tier":"Standard","isCustomApi":false,"description":"SharePoint helps organizations share and collaborate with colleagues, partners, and customers. You can connect to SharePoint Online or to an on-premises SharePoint 2016 or 2019 farm using the On-Premises Data Gateway to manage documents and list items."}}},{"type":"Foreach","metadata":{"operationMetadataId":"84776e67-a1f9-4aeb-ac05-26889e084386"}},{"type":"InitializeVariable","metadata":{"operationMetadataId":"d55ad147-352c-4816-a961-5e044d197dd2"}},{"type":"InitializeVariable","metadata":{"operationMetadataId":"b0c2bdfb-e34b-45a4-8964-98b4ab30cc96"}},{"type":"Foreach","metadata":{"operationMetadataId":"8dae8a29-34f4-4c90-96af-db5a50563a9b"}},{"type":"AppendToArrayVariable","metadata":{"operationMetadataId":"b24a66b4-1218-47bb-b176-70526be9c5ea"}},{"type":"InitializeVariable","metadata":{"operationMetadataId":"dc8d40bd-bdfa-4e7f-b628-2a4e26b1f97c"}},{"type":"InitializeVariable","metadata":{"operationMetadataId":"bbbcd087-22d6-4b28-aad2-5bf528bad4f4"}},{"type":"AppendToArrayVariable","metadata":{"operationMetadataId":"7ff830be-bc68-4616-a4ad-a4ecbfa1d6c7"}},{"type":"InitializeVariable","metadata":{"operationMetadataId":"5940fea6-6d0c-4a02-8631-03f7c875d147"}},{"type":"InitializeVariable","metadata":{"operationMetadataId":"23dc1d47-6d07-4867-bba6-d1a466b1dd0a"}},{"type":"InitializeVariable","metadata":{"operationMetadataId":"6f495b91-34c4-43ec-bdb2-abd0d73c9946"}},{"type":"InitializeVariable","metadata":{"operationMetadataId":"9e733548-f1ad-419f-a704-21c571b07baa"}},{"type":"Join","metadata":{"operationMetadataId":"0d9f4b88-975a-4b6e-919d-b2cfd60bd5e0"}},{"type":"InitializeVariable","metadata":{"operationMetadataId":"b129500f-e073-44b2-9507-187deaf23202"}},{"type":"OpenApiConnection","swaggerOperationId":"GetFileItem","metadata":{"operationMetadataId":"8ee166f9-e78a-4d8d-879e-b9a637d04739"},"api":{"name":"shared_sharepointonline","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"SharePoint","iconUri":"https://connectoricons-prod.azureedge.net/u/jayawan/releases/v1.0.1697/1.0.1697.3786/sharepointonline/icon.png","metadata":{"source":"marketplace","brandColor":"#036C70","useNewApimVersion":"true","version":{"previous":"u/jayawan/releases/v1.0.1694\\1.0.1694.3753","current":"u/jayawan/releases/v1.0.1697\\1.0.1697.3786"}},"tier":"Standard","isCustomApi":false,"description":"SharePoint helps organizations share and collaborate with colleagues, partners, and customers. You can connect to SharePoint Online or to an on-premises SharePoint 2016 or 2019 farm using the On-Premises Data Gateway to manage documents and list items."}}},{"type":"AppendToArrayVariable","metadata":{"operationMetadataId":"07598a33-8259-4ec8-ab5a-5301dfcb199c"}},{"type":"AppendToArrayVariable","metadata":{"operationMetadataId":"95a139bd-8e4f-4fae-a9b9-2381fce2f398"}},{"type":"AppendToArrayVariable","metadata":{"operationMetadataId":"868061b5-9700-4cd1-948a-a8cce740373c"}},{"type":"Foreach","metadata":{"operationMetadataId":"eb462fe7-97ca-4cb2-bdac-a51c870a7c6d"}},{"type":"AppendToArrayVariable","metadata":{"operationMetadataId":"32ff72bd-51ca-4d8d-973a-9849123a0369"}},{"type":"OpenApiConnection","swaggerOperationId":"SendEmailV2","metadata":{"operationMetadataId":"47e47fb4-61e7-4c68-853d-7669b3d290d0"},"api":{"name":"shared_office365","id":"/providers/Microsoft.PowerApps/apis/shared_office365","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"Office 365 Outlook","iconUri":"https://connectoricons-prod.azureedge.net/releases/v1.0.1686/1.0.1686.3706/office365/icon.png","metadata":{"source":"marketplace","brandColor":"#0078D4","useNewApimVersion":"true","version":{"previous":"releases/v1.0.1677\\1.0.1677.3637","current":"releases/v1.0.1686\\1.0.1686.3706"}},"tier":"Standard","isCustomApi":false,"description":"Microsoft Office 365 is a cloud-based service that is designed to help meet your organization's needs for robust security, reliability, and user productivity."}}},{"type":"If","metadata":{"operationMetadataId":"7f0f1a1a-3762-41e4-9045-8e3a522abdff"}},{"type":"Foreach","metadata":{"operationMetadataId":"a5a00554-7b92-47d8-b84f-4111326af2c0"}},{"type":"AppendToArrayVariable","metadata":{"operationMetadataId":"fd1e0eef-e762-4406-95b5-ba3ddb333441"}},{"type":"AppendToStringVariable","metadata":{"operationMetadataId":"3be59915-b1ae-47df-a769-49997dd7e8a8"}},{"type":"IncrementVariable","metadata":{"operationMetadataId":"37cb296a-c905-467c-b1b6-f6f841e600bb"}},{"type":"AppendToStringVariable","metadata":{"operationMetadataId":"f6c827a4-cb66-434e-90ed-9e69e9bd3114"}},{"type":"OpenApiConnection","swaggerOperationId":"UserProfile_V2","metadata":{"operationMetadataId":"857c3641-b9d6-4067-a953-aca84b712e85"},"api":{"name":"shared_office365users","id":"/providers/Microsoft.PowerApps/apis/shared_office365users","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"Office 365 Users","iconUri":"https://connectoricons-prod.azureedge.net/releases/v1.0.1702/1.0.1702.3810/office365users/icon.png","metadata":{"source":"marketplace","brandColor":"#eb3c00","useNewApimVersion":"true","version":{"previous":"u/jayawan/releases/v1.0.1694\\1.0.1694.3753","current":"releases/v1.0.1702\\1.0.1702.3810"}},"tier":"Standard","isCustomApi":false,"description":"Office 365 Users Connection provider lets you access user profiles in your organization using your Office 365 account. You can perform various actions such as get your profile, a user's profile, a user's manager or direct reports and also update a user profile."}}},{"type":"If","metadata":{"operationMetadataId":"746af3e0-d722-4bf0-a280-a53fed6f8c90"}},{"type":"SetVariable","metadata":{"operationMetadataId":"3e900898-50ad-49f2-ab0c-3f96a352090c"}},{"type":"AppendToArrayVariable","metadata":{"operationMetadataId":"934e564c-8ee3-4738-bfe4-562b470bf7ee"}},{"type":"Compose","metadata":{"operationMetadataId":"f931ccfb-9d1b-42a1-9a1f-fd40e12a9d39"}},{"type":"AppendToArrayVariable","metadata":{"operationMetadataId":"cb3a3c2e-5aaf-42f9-bfca-d6e037b21dc3"}},{"type":"OpenApiConnection","swaggerOperationId":"UserPhoto_V2","metadata":{"operationMetadataId":"d02ebf7d-e3ab-49c5-8592-6483d50540ba"},"api":{"name":"shared_office365users","id":"/providers/Microsoft.PowerApps/apis/shared_office365users","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"Office 365 Users","iconUri":"https://connectoricons-prod.azureedge.net/releases/v1.0.1702/1.0.1702.3810/office365users/icon.png","metadata":{"source":"marketplace","brandColor":"#eb3c00","useNewApimVersion":"true","version":{"previous":"u/jayawan/releases/v1.0.1694\\1.0.1694.3753","current":"releases/v1.0.1702\\1.0.1702.3810"}},"tier":"Standard","isCustomApi":false,"description":"Office 365 Users Connection provider lets you access user profiles in your organization using your Office 365 account. You can perform various actions such as get your profile, a user's profile, a user's manager or direct reports and also update a user profile."}}},{"type":"If","metadata":{"operationMetadataId":"35e6ece0-527a-4269-9876-850a611f9570"}},{"type":"Compose","metadata":{"operationMetadataId":"a52b950a-9230-46ca-9557-a073a8ad101d"}},{"type":"AppendToArrayVariable","metadata":{"operationMetadataId":"55f794fc-477f-4850-be17-e03bb071532c"}},{"type":"Compose","metadata":{"operationMetadataId":"6b13bfac-80e5-4818-ba63-e67ae3de1276"}},{"type":"AppendToArrayVariable","metadata":{"operationMetadataId":"26ef2564-5733-4451-96a6-f13ef00f540f"}},{"type":"Compose","metadata":{"operationMetadataId":"89c5ab78-29c6-4580-a600-c3fdb30967a3"}},{"type":"AppendToArrayVariable","metadata":{"operationMetadataId":"8d0a4bf6-98a2-43c7-b25e-6d963ce77de9"}},{"type":"SetVariable","metadata":{"operationMetadataId":"7191a7ce-9a1a-4f77-a543-3b2ccefd7c82"}},{"type":"Compose","metadata":{"operationMetadataId":"b260c9bf-08d1-4c54-b7bb-f5f9938b0a46"}},{"type":"SetVariable","metadata":{"operationMetadataId":"5df4eb50-a350-4ae6-b6f3-8998a8413aad"}},{"type":"OpenApiConnection","swaggerOperationId":"GetFileContentByPath","metadata":{"operationMetadataId":"a3147b3f-984d-4e9f-8d34-ce38f1589486"},"api":{"name":"shared_sharepointonline","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","type":"/providers/Microsoft.PowerApps/apis","properties":{"displayName":"SharePoint","iconUri":"https://connectoricons-prod.azureedge.net/u/jayawan/releases/v1.0.1697/1.0.1697.3786/sharepointonline/icon.png","metadata":{"source":"marketplace","brandColor":"#036C70","useNewApimVersion":"true","version":{"previous":"u/jayawan/releases/v1.0.1694\\1.0.1694.3753","current":"u/jayawan/releases/v1.0.1697\\1.0.1697.3786"}},"tier":"Standard","isCustomApi":false,"description":"SharePoint helps organizations share and collaborate with colleagues, partners, and customers. You can connect to SharePoint Online or to an on-premises SharePoint 2016 or 2019 farm using the On-Premises Data Gateway to manage documents and list items."}}},{"type":"SetVariable","metadata":{"operationMetadataId":"4e42cce8-dbcf-44c1-9d37-d06ebeeea0bf"}},{"type":"Compose","metadata":{"operationMetadataId":"61ed995d-efaf-4468-a320-ae87060a7cb6"}}]},"flowFailureAlertSubscribed":false,"workflowEntityId":"022f8502-de70-ed11-9562-00224820bad0","workflowUniqueId":"ef9e3343-5dfd-4374-9bc6-5b4635b9dbcc","referencedResources":[{"service":"sharepoint","resource":{"site":"https://redwoodmaterials1.sharepoint.com/sites/Documents","list":"dc949db8-5518-4eb6-9ac7-3d3f62ad17ae"},"referencers":[{"referenceSourceType":"Actions","operationId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/apiOperations/GetFileItem"},{"referenceSourceType":"Triggers","operationId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/apiOperations/GetFileItem"}]},{"service":"sharepoint","resource":{"site":"https://redwoodmaterials1.sharepoint.com/sites/Documents","list":"c5fb1e92-e6bb-4397-a5cf-806da21aa6b8"},"referencers":[{"referenceSourceType":"Actions","operationId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/apiOperations/GetItems"},{"referenceSourceType":"Triggers","operationId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/apiOperations/GetItems"}]},{"service":"sharepoint","resource":{"site":"https://redwoodmaterials1.sharepoint.com/sites/WorkFlowAutomation"},"referencers":[{"referenceSourceType":"Actions","operationId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/apiOperations/GetFileContentByPath"},{"referenceSourceType":"Triggers","operationId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/apiOperations/GetFileContentByPath"}]}],"isManaged":true,"componentState":"Published","isCustomizable":{"value":true,"canBeChanged":true,"managedPropertyLogicalName":"iscustomizableanddeletable"},"machineDescriptionData":{},"flowOpenAiData":{"isConsequential":false,"isConsequentialFlagOverwritten":false}}}